<div>

  <div class="input-field">
    <input class="validate" value="cleiton@gmail.com" id="form-login" type="text">
    <label class="active" for="form-login">Email ou Nome de usuário</label>
  </div>
  <div class="input-field">
    <input value="dsadsadas" id="form-login-senha" type="password" class="validate">
    <label class="active" for="form-login-senha">Senha</label>
  </div>

  <div style="text-align: right;">
    <a routerLink="../../redefinir-senha">Esqueceu sua senha?</a>
  </div>

  <div style="text-align: center">
    <a class="waves-effect waves-light btn grey btn-prim"
       style="margin: 10px 0;">
      Entrar
    </a>
  </div>

  <div class="divider"></div>

  <div class="area-logar_redes_sociais">
    <h6>Ou entre usando:</h6>
    <div class="area-icones_redes_sociais">
      <div>
        <a class="btn-floating waves-effect waves-light btn-circ-twitter">
          <i aria-hidden="true" class="fab fa-twitter"></i>
        </a>
      </div>
      <div>
        <a class="btn-floating waves-effect waves-light btn-circ-facebook">
          <i aria-hidden="true" class="fab fa-facebook-f"></i>
        </a>
      </div>
      <div>
        <a class="btn-floating waves-effect waves-light btn-circ-google">
          <i aria-hidden="true" class="fab fa-google"></i>
        </a>
      </div>
    </div>
  </div>

</div>
