<div style="display: flex">
  <div class="box-sem-compra col s11 m10 l8 xl8 center-block">
    <p>
      <strong>404</strong> - Essa página não foi encontrada <strong>:(</strong>
    </p>
    <p class="link-promocao">
      <!-- TODO: Ajustar link para promoções -->
      <a href="https://google.com" style="text-align: center; display: grid; justify-content: center">
        Mas tem essa com nossas promoções maravilhosas!!! &ensp;&ensp;<br>
        <strong style="text-align: center"> :)</strong>
      </a>
    </p>
  </div>
</div>
