<mat-sidenav-container (backdropClick)="close()" [ngClass]="{'sidenav--show': opened}">
  <mat-sidenav *ngIf="user" #sidenav (keydown.escape)="close()" class="sidenav" disableClose>
    <div class="user__section">

      <!-- Área de imagem avatar, nome e email -->
      <div class="user__avatar">
        <a href="www.google.com">
          <img *ngIf="user.avatarUrl" alt="Imagem de perfil de '{{user.name}}'"
               class="user__avatar-image" src="{{user.avatarUrl}}">
          <i *ngIf="!user.avatarUrl" aria-hidden="true"
             class="fas fa-user-circle user__avatar-icon"></i>
        </a>
      </div>

      <div class="user__name-email">
        <span class="user__name">{{user.name}}</span>
        <span class="user__email">{{user.email}}</span>
      </div>
    </div>

    <!-- AÇÕES PESSOAIS -->
    <mat-nav-list>
      <a *ngFor="let action of actionsPersonal" [routerLink]="action.url.replace(':id', user.id)"
         class="actions__item" mat-list-item>
        <i aria-hidden="true" class="{{action.iconClass}} actions__item-icon"></i>
        {{action.title}}
      </a>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <!-- AÇÕES ADMINISTRATIVAS -->
    <mat-nav-list>
      <a *ngFor="let action of actionsAdmin" [routerLink]="action.url" class="actions__item" mat-list-item>
        <i aria-hidden="true" class="{{action.iconClass}} actions__item-icon"></i>
        {{action.title}}
      </a>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <!-- LOGOUT -->
    <mat-nav-list>
      <a (click)="logout()" [routerLink]="actionLogout.url" class="actions__item" mat-list-item>
        <i aria-hidden="true" class="{{actionLogout.iconClass}} actions__item-icon"></i>
        {{actionLogout.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
