@import '../../../shared/styles/mixins';
@import '../../../shared/styles/placeholders';

.sidenav {
  min-width: 275px;
  max-width: 320px;

  .info-user {
    &__avatar {
      @include min-max-size(65px);
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      border: 2px solid white;
      border-radius: 50%;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);

      .img-avatar {
        display: inline;
        width: auto;
        height: 70px;
      }
    }

    &__email {
      font-size: small;
    }

    &__name {
      font-weight: 500;
    }

    &__name-email {
      margin-top: 10px;
      display: grid;
      word-break: break-word;
    }

    &__section {
      height: auto;
      background-color: #f0f0f0;
      padding: 15px 10px;
      text-align: center;
      @extend %flex-col;
      @extend %center-flex;
    }
  }

  &--show {
    max-height: 100%;
    overflow: hidden;
  }
}

.actions__item {
  @extend %color-text-prim--light;
  display: flex !important;
  min-height: 48px !important;
  height: auto !important;

  font-size: 14px;
  transition: color .25s;

  &:hover {
    @extend %color-text-prim;
  }

  &-icon {
    font-size: 18px;
    margin-right: 15px;
  }
}
