<app-modal-mat (action)="emitProduct()" (closed)="closed.emit()" [btnAcceptTitle]="textModal.btnAction"
               [btnCancelTitle]="textModal.btnCancel" [modalTitle]="textModal.title">
  <div class="product__image">
    <img *ngIf="!product.semImagem; else withoutImage" [src]="product.urlImagem" class="product__image-img">
    <ng-template #withoutImage>
      <i aria-hidden="true" class="far fa-image"></i>
    </ng-template>

    <div style="display: flex; margin-top: 15px">
      <button class="btn-general" mat-stroked-button>
        <i aria-hidden="true" class="far fa-file-image"></i>
        <span>{{product.semImagem ? 'Adicionar' : 'Substituir'}} Imagem</span>
      </button>
      <!--      <button mat-stroked-button class="btn-general">-->
      <!--        <i aria-hidden="true" class="fas fa-plus"></i>-->
      <!--        Adicionar-->
      <!--      </button>-->
      <!--      <button mat-stroked-button class="btn-general">-->
      <!--        <i aria-hidden="true" class="fas fa-minus"></i>-->
      <!--        Remover-->
      <!--      </button>-->
    </div>
  </div>

  <div class="row">
    <!-- Categorias -->
    <mat-form-field class="col s12">
      <mat-label>Categorias</mat-label>
      <mat-select [formControl]="categoryControl" multiple>
        <mat-option *ngFor="let cat of productCategs" [value]="cat">
          {{cat.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Título -->
    <mat-form-field class="col s12">
      <mat-label>Título</mat-label>
      <input #fieldTitle [(ngModel)]="product.titulo" class="input"
             matInput maxlength="100" type="text">
      <mat-hint align="end">{{fieldTitle.value.length}} / 100</mat-hint>
    </mat-form-field>

    <!-- Descrição -->
    <mat-form-field class="col s12">
      <mat-label>Descrição</mat-label>
      <textarea #autosize="cdkTextareaAutosize" #fieldDescription [(ngModel)]="product.descricao"
                cdkAutosizeMaxRows="10" cdkAutosizeMinRows="1" cdkTextareaAutosize
                class="input" matInput maxlength="2000"></textarea>
      <mat-hint align="end">{{fieldDescription.value.length}} / 2000</mat-hint>
    </mat-form-field>

    <!-- Custo -->
    <mat-form-field class="col s6">
      <mat-label>Custo</mat-label>
      <input matInput type="number">
      <span matPrefix>R$&nbsp;</span>
    </mat-form-field>

    <!-- Preço de venda -->
    <mat-form-field class="col s6">
      <mat-label>Preço de venda</mat-label>
      <input [(ngModel)]="product.qtdDisponivel" matInput type="number">
      <span matPrefix>R$&nbsp;</span>
    </mat-form-field>


    <!-- Altura -->
    <mat-form-field class="col s6">
      <mat-label>Altura (cm)</mat-label>
      <input matInput type="number">
      <mat-hint align="start">Altura em centímetros</mat-hint>
    </mat-form-field>

    <!-- Largura -->
    <mat-form-field class="col s6">
      <mat-label>Largura (cm)</mat-label>
      <input matInput type="number">
      <mat-hint align="start">Largura em centímetros</mat-hint>
    </mat-form-field>

    <!-- Comprimento -->
    <mat-form-field class="col s6">
      <mat-label>Comprimento (cm)</mat-label>
      <input matInput type="number">
      <mat-hint align="start">Comprimento em centímetros</mat-hint>
    </mat-form-field>

    <!-- Peso -->
    <mat-form-field class="col s6">
      <mat-label>Peso (kg)</mat-label>
      <input matInput type="number">
      <mat-hint align="start">Peso em kilogramas</mat-hint>
    </mat-form-field>
  </div>
</app-modal-mat>
