<head>
  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" rel="stylesheet">
  <title>Teste</title>
</head>

<nav class="navbar">
  <div class="row nav-cols">

    <!--  Coluna da esquerda: Contém o menu hamburger  -->
    <div class="col s4 m4 nav-col-esquerda">
      <ul>
        <li><i aria-hidden="true" class="fas fa-bars icone"></i></li>
      </ul>
    </div>

    <!--  Coluna centro: contém a logo da loja  -->
    <!--  TODO: Trabalhar com logo escolhida pela loja -->
    <div class="col s4 m4 nav-col-centro">
      <img alt="yugioh_logo"
           class="responsive-img img-col-centro" src="../../../assets/yugioh-logo.png"/>
    </div>

    <!--  Coluna da direita: contém o botão de busca, sino e carrinho  -->
    <div class="col s4 m4 nav-col-direita">
      <ul class="">

        <li>
          <i (click)="toggleBusca()" aria-hidden="true"
             class="fas fa-search icone-important"></i>
        </li>

        <li>
          <i aria-hidden="true" class="fas fa-bell icone-important"></i>
        </li>

        <li>
          <i aria-hidden="true" class="fas fa-shopping-cart icone-important"></i>
        </li>

      </ul>
    </div>

  </div>
</nav>
<app-barra-busca *ngIf="exibirBusca" [fadeOutAplicar]="aplicarFadeOut">
</app-barra-busca>


