<head>
  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" rel="stylesheet">
  <title>Teste</title>
</head>

<app-sidenav [exibir]="exibirSidenav" [usuario]="usuarioAtual"></app-sidenav>

<nav class="navbar">
  <div class="row nav-cols no-padding">

    <!--  Coluna da esquerda: Contém o menu hamburger  -->
    <div class="col s5 m4 no-padding nav-col-esquerda">
      <i aria-hidden="true" class="fas fa-bars icone" (click)="toggleSidenav()"></i>
    </div>

    <!--  Coluna centro: contém a logo da loja  -->
    <!--  TODO: Trabalhar com logo escolhida pela loja -->
    <div class="col s3 m4 no-padding nav-col-centro">
      <img alt="yugioh_logo"
           class="responsive-img img-col-centro" src="../../../assets/yugioh-logo.png"/>
    </div>

    <!--  Coluna da direita: contém o botão de busca, sino e carrinho  -->
    <div class="col s5 m4 no-padding nav-col-direita">
      <ul>

        <!-- Área para buscas -->
        <li>
          <a class="icone-link">
            <i (click)="toggleBusca()" aria-hidden="true" class="fas fa-search"></i>
          </a>
        </li>

        <!-- Área de notificações -->
        <li>

          <!-- Contador de notificações -->
          <a class="icone-link" (click)="toggleListaNotificacoes()">
            <span *ngIf="qtdNotifAtiva > 0"
                  class="area-contador_notific-important pulse">
              {{qtdNotifAtiva}}
            </span>
            <i aria-hidden="true" class="fas fa-bell"></i>
          </a>

          <!-- Área de listagem de notificações -->
          <div *ngIf="exibirNotificacoes"
               class="col s8 m5 l4 xl3 area-lista_notificacao--ativa">

            <!-- Cabeçalho com opções e engrenagem -->
            <div class="area-lista_notificacao-topo">
              <span>Notificações</span>
              <div class="area-lista_notificacao-topo-icones">
                <a class="icone-marcar_todas_notific" title="Marcar todas como lidas"
                   (click)="marcarTodasNotificacoesComoLidas()">
                  <i class="far fa-check-square"></i>
                </a>
              </div>
            </div>

            <div class="divider"></div>

            <!-- Lista de notificações -->
            <div class="area-lista_notificacao-corpo">
              <ul>

                <!-- Para cada noticação, se estiver lida, aplique a classe que inative-a
                visualmente, senão, não está lida, então aplique a classe padrão-->
                <li *ngFor="let notif of notificacoes" id="area-notificacao-{{notif.id}}"
                    [ngClass]="notif.lida ? 'area-notificacao--inativa' : 'area-notificacao'">

                  <a class="notificacao black-text" href="">
                    {{notif.texto}}<br>

                    <div class="notificao-rodape">
                      <span style="font-size: smaller !important;">
                        <i [className]="notif.classeIcone"></i>
                        {{notif.dataCriacao | date: 'dd/MM/yyyy - hh:mm:ss'}}
                      </span>

                      <label>
                        <input type="checkbox" [checked]="notif.lida" (click)="toggleNotificacao(notif.id)"/>
                        <span>Lida</span>
                      </label>
                    </div>

                  </a>
                </li>
              </ul>
            </div>
          </div>

        </li>

        <!-- Área do carrinho de compras -->
        <li>
          <a class="icone-link">
            <i aria-hidden="true" class="fas fa-shopping-cart"></i>
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>

<!-- TODO: Alterar função para realizar buscas nos produtos da loja -->
<app-barra-busca [hidden]="!exibirBusca" [exibir]="exibirBusca" (textoSaida)="print($event)"></app-barra-busca>

