$val-padding: 15px;
$altura-barra: 70px;

.nav-itens-base {
  width: auto;
  height: auto;
  max-height: 100%;
  display: flex;
  margin: 0 !important;
  padding: 0;
  align-items: center;

  i {
    height: auto;
  }
}

.navbar {
  position: fixed;
  z-index: 2;
  height: $altura-barra;
  background: linear-gradient(#060606 35%, #1d1d1d);
}

.nav-cols {
  @extend .nav-itens-base;
  height: $altura-barra;

  @media (max-width: 400px) {
    i {
      font-size: large;
    }
  }

  @media (max-width: 300px) {
    i {
      font-size: medium;
    }
  }

  @media (max-width: 270px) {
    i {
      font-size: small;
    }
  }
}

.nav-col-esquerda {
  @extend .nav-itens-base;
  justify-content: flex-start;
}

.nav-col-centro {
  @extend .nav-itens-base;
  justify-content: center;
}

.nav-col-direita {
  @extend .nav-itens-base;
  justify-content: flex-end;
  margin-top: 7px !important;
}

.icone {
  padding: 0 10px;
  cursor: pointer;
}

.icone-link {
  margin-right: 20px;
  padding: 0 !important;

  @media (max-width: 500px) {
    margin-right: 13px;
  }
}

.img-col-centro {
  max-height: 50px;
  width: auto;
}

/*Área de notificações*/
.area-contador_notific-important {
  transition: all 1s;
  position: absolute !important;
  z-index: 1;

  min-width: 20px;
  width: auto;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 5px;
  background-color: #e91e1e;
  border-radius: 10px;
  font-size: smaller;
  font-weight: 400;
}

.area-lista_notificacao--ativa {
  animation: fade 350ms;
  background-color: white;
  color: black;

  z-index: 2;
  position: absolute;
  display: block;
  right: 35px !important;
  top: 85px;
  padding: 0 !important;

  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  border: 1px solid rgba(100, 100, 100, .4);
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.area-lista_notificacao-topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12px;

  i, span {
    line-height: normal;
    height: auto;
  }
}

.area-lista_notificacao-topo-icones {
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    margin-left: 12px;
    font-size: larger;
  }
}

.icone-marcar_todas_notific {
  padding: 0 !important;
  color: black !important;
  background-color: transparent !important;
  transition: ease all 400ms !important;
}

.icone-marcar_todas_notific:hover {
  color: red !important;
  font-size: large !important;
}

.area-lista_notificacao-corpo {
  overflow: auto;
  height: 450px;
  margin-bottom: 5px;
  padding: 0 10px;
}

.area-notificacao {
  width: 100%;
  animation: fade 350ms;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 5px 0;
  border: 1px solid #1da1f2;
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);

  a, i {
    line-height: normal;
    height: auto;
  }
}

.area-notificacao--inativa {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  opacity: 0.5;
  margin: 5px 0;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);

  a, i {
    line-height: normal;
    height: auto;
  }
}

.notificacao {
  padding: 10px 15px 0 15px !important;
  font-size: small !important;
  border-radius: 10px;
}

.notificao-rodape {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 !important;

  span {
    font-size: small !important;
    display: flex;
    align-items: center;
  }

  i {
    font-size: medium !important;
    margin-right: 7px;
  }
}

@media (max-width: 430px) {
  .icone-important {
    margin-right: 10px;
    font-size: 140% !important;
  }
}
