$val-padding: 15px;
$altura-barra: 70px;

.nav-itens-base {
  width: auto;
  height: auto;
  max-height: 100%;
  display: flex;
  margin: 0 !important;
  padding: 0;
  align-items: center;
}

.navbar {
  height: $altura-barra;
  background: linear-gradient(#060606 35%, #1d1d1d);
}

.nav-cols {
  @extend .nav-itens-base;
  height: $altura-barra;
}

.nav-col-esquerda {
  @extend .nav-itens-base;
  justify-content: flex-start;
}

.nav-col-centro {
  @extend .nav-itens-base;
  justify-content: center;
}

.nav-col-direita {
  @extend .nav-itens-base;
  justify-content: flex-end;
}

.icone {
  padding: 0 10px;
}

.icone-important {
  padding-right: 16px;
}

.img-col-centro {
  max-height: 55px;
  width: auto;
}

@media (max-width: 430px) {
  .icone-important {
    padding-right: 10px;
    font-size: 140% !important;
  }
}
