<!-- TODO: Realizar binding com as rotas -->

<div class="area-filtro">
  <p style="text-align: center; font-size: medium; text-transform: uppercase; font-weight: 500">Filtros</p>
  <div style="height: 1px; background-color: #ddd; margin: 0 10px;"></div>
  <ul class="collapsible" style="height: 100%; margin: 0;">

    <li id="id-filtro-categorias">
      <div class="collapsible-header" tabindex="0">
        Categorias
        <i aria-hidden="true" class="fas fa-chevron-right"></i>
      </div>

      <div class="collapsible-body">
        <label *ngFor="let categ of categorias"
               for="id-check-categoria-{{categ.id}}">
          <input class="filled-in" id="id-check-categoria-{{categ.id}}" type="checkbox">
          <span>{{categ.nome}}</span>
        </label>
      </div>
    </li>

    <li id="id-filtro-frete">
      <div class="collapsible-header" tabindex="0">
        Frete
        <i aria-hidden="true" class="fas fa-chevron-right"></i>
      </div>

      <div class="collapsible-body">
        <label for="id-check-frete">
          <input class="filled-in check-padrao" id="id-check-frete" type="checkbox">
          <span>Grátis</span>
        </label>
      </div>
    </li>

    <li id="id-filtro-desconto">
      <div class="collapsible-header" tabindex="0">
        Desconto
        <i aria-hidden="true" class="fas fa-chevron-right"></i>
      </div>
      <div class="collapsible-body">
        <p>Apple</p>
        <p>Fitbit</p>
        <p>Samsung</p>
        <p>Fastrack</p>
      </div>
    </li>

    <li id="id-filtro-preco">
      <div class="collapsible-header" tabindex="0">
        Preço
        <i aria-hidden="true" class="fas fa-chevron-right"></i>
      </div>
      <div class="collapsible-body" style="text-align: center;">
        <label>
          <input class="input-field input-preco-min-max" placeholder="Mínimo" type="number" value="">
        </label>
        <span style="font-size: small;">Até</span>
        <label>
          <input class="input-field input-preco-min-max" placeholder="Máximo" type="number" value="">
        </label>
      </div>
    </li>

    <li id="id-filtro-avaliacao">
      <div class="collapsible-header" tabindex="0">
        Avaliação
        <i aria-hidden="true" class="fas fa-chevron-right"></i>
      </div>
      <div class="collapsible-body">
        <p>1 estrelas</p>
        <p>2 estrelas</p>
        <p>3 estrelas</p>
        <p>4 estrelas</p>
        <p>5 estrelas</p>
      </div>
    </li>
  </ul>
</div>
