.area-filtro {
  height: auto;
  border: 1px solid #ddd;
  overflow: hidden;
  background: white;
  padding-bottom: 15px;
}

.collapsible {
  border: none;
  box-shadow: none;

  li .fas {
    font-size: large;
    position: absolute;
    right: 0;
  }

  li.active i {
    will-change: transform;
    transition: transform 400ms;
    transform: rotate(90deg);
  }

  li:not(.active) i {
    will-change: transform;
    transition: transform 400ms;
  }
}

.collapsible-header {
  display: flex;
  position: relative;
  border: none;
  padding: 1rem 1rem 0;
}

.collapsible-body {

  label > span {
    font-size: 14px;
  }
}
