<!-- TODO: Realizar binding com as rotas -->

<div class="area-filtro">
  <p style="text-align: center; font-size: medium; text-transform: uppercase; font-weight: 500">Filtros</p>
  <div style="height: 1px; background-color: #ddd; margin: 0 10px;"></div>
  <ul style="height: 100%; margin: 0;">

    <li id="id-filtro-categorias">
      <div class="filtro-header" tabindex="0">
        Categorias
      </div>

      <div class="filtro-body">
        <label *ngFor="let categ of categorias"
               for="id-check-categoria-{{categ.id}}">
          <input class="filled-in" id="id-check-categoria-{{categ.id}}" type="checkbox">
          <span>{{categ.nome}}</span>
        </label>
      </div>
    </li>

    <li *ngIf="freteGratis" id="id-filtro-frete">
      <div class="filtro-header" tabindex="0">
        Frete
      </div>

      <div class="filtro-body">
        <label for="id-check-frete">
          <input class="filled-in check-padrao" id="id-check-frete" type="checkbox">
          <span>Grátis</span>
        </label>
      </div>
    </li>

    <li *ngIf="descontos.length > 0" id="id-filtro-desconto">
      <div class="filtro-header" tabindex="0">
        Desconto
      </div>
      <div class="filtro-body">
        <label>
          <input class="filled-in check-padrao" type="checkbox">
          <span>Até {{descontos[0][1]}}%</span>
        </label>

        <label *ngFor="let precoMinMax of descontos.slice(1, descontos.length - 1)">
          <input class="filled-in check-padrao" type="checkbox">
          <span>De {{precoMinMax[0]}}% até {{precoMinMax[1]}}%</span>
        </label>

        <label>
          <input class="filled-in check-padrao" type="checkbox">
          <span>Mais de {{descontos[descontos.length - 1][0] - 1}}%</span>
        </label>
      </div>
    </li>

    <li id="id-filtro-preco">
      <div class="filtro-header" tabindex="0">
        Preço
      </div>
      <div class="filtro-body" style="text-align: center;">
        <div class="input-field">
          <label for="id-1"></label>
          <input id="id-1" placeholder="Mínimo" type="number">
        </div>

        <span style="font-size: small;">Até</span>

        <div class="input-field">
          <label for="id-2"></label>
          <input id="id-2" placeholder="Máximo" type="number">
        </div>

        <a class="btn-prim--pequeno">buscar</a>
      </div>
    </li>

    <li *ngIf="avaliacoes.length > 0" id="id-filtro-avaliacao">
      <div class="filtro-header" tabindex="0">
        Avaliação
      </div>
      <div class="filtro-body">
        <div *ngFor="let qtdEstrela of avaliacoes" class="area-estrelas">
          <label>
            <input class="filled-in" id="id-check-aval-{{qtdEstrela}}" type="checkbox">
            <span class="icones-estrelas">
              <i *ngFor="let i of [1, 2, 3, 4, 5]" [ngClass]="{'estrela-ativa': i <= qtdEstrela}"
                 class="fas fa-star"></i>
            </span>
          </label>

        </div>
      </div>
    </li>
  </ul>
</div>
