<!-- TODO: Realizar binding com as rotas -->
<div class="area-filtro">
  <p style="text-align: center; font-size: medium; text-transform: uppercase; font-weight: 500">Filtros</p>
  <div style="height: 1px; background-color: #ddd; margin: 0 10px;"></div>
  <ul class="collapsible" style="height: 100%; margin: 0;">

    <li id="id-categorias">
      <div class="collapsible-header" tabindex="0">
        Categorias
        <i aria-hidden="true" class="fas fa-chevron-right"></i>
      </div>
      <div class="collapsible-body">
        <p>Acessórios</p>
        <p>Cards</p>
        <p>Figures</p>
        <p>Packs</p>
        <p>Vestuário</p>
      </div>
    </li>

    <li>
      <div class="collapsible-header" tabindex="0">
        Watches
        <i aria-hidden="true" class="fas fa-chevron-right"></i>
      </div>
      <div class="collapsible-body">
        <p>Apple</p>
        <p>Fitbit</p>
        <p>Samsung</p>
        <p>Fastrack</p>
      </div>
    </li>

    <li>
      <div class="collapsible-header" tabindex="0">
        Watches
        <i aria-hidden="true" class="fas fa-chevron-right"></i>
      </div>
      <div class="collapsible-body">
        <p>Apple</p>
        <p>Fitbit</p>
        <p>Samsung</p>
        <p>Fastrack</p>
      </div>
    </li>
  </ul>
</div>
