<!-- TODO: Atualizar -->
<app-modal-mat (action)="save()" (closed)="closed.emit()"
               [actionDisabled]="listFormGroup.invalid"
               [btnAcceptTitle]="btnActionTitle" [btnCancelTitle]="btnCancelTitle"
               [modalTitle]="modalTitle">
  <ng-template #loading>
    <app-loading-screen></app-loading-screen>
  </ng-template>

  <form [formGroup]="listFormGroup" class="form-container">

    <!-- Título -->
    <mat-form-field>
      <mat-label>Título <span style="color: red">*</span></mat-label>
      <input #title [maxLength]="listSizes.titleMax" formControlName="title" matInput type="text">
      <mat-hint align="start">Identifique sua lista com um título atrativo</mat-hint>
      <mat-hint align="end">{{title.value.length}} / {{listSizes.titleMax}}</mat-hint>
      <mat-error *ngIf="listFormGroup.controls['title'].invalid">
        {{getMsg(listFormGroup.controls['title'])}}
      </mat-error>
    </mat-form-field>

    <div *ngIf="products$ | async as products; else loading" style="padding: 1rem 0">

      <!-- Produtos na lista -->
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Produtos na lista
            </mat-panel-description>
          </mat-expansion-panel-header>

          <ng-container *ngIf="showProducts">
            <div *ngFor="let product of dataAdd.items" class="product-item">
              <div class="product-item__img-container">
                <img [alt]="product.title" [src]="product.urlMainImage" class="product-item__img">
              </div>
              <span class="product-item__title">{{product.title}}</span>
              <button (click)="toggleItem(dataAdd, product)" class="center" color="warn" mat-icon-button>
                <mat-icon>remove_circle</mat-icon>
              </button>
            </div>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Produtos fora da lista -->
      <mat-accordion style="margin-top: 1rem; display: grid">
        <mat-expansion-panel (afterExpand)="showProducts = true">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Produtos para adicionar
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- Título -->
          <mat-form-field style="width: 100%">
            <mat-label>Título do produto</mat-label>
            <input [maxLength]="listSizes.titleMax" formControlName="textSearch" matInput type="text">
            <mat-hint align="start">Busque pelo título de um produto</mat-hint>
          </mat-form-field>

          <div *ngIf="showProducts" style="margin-top: 1rem">
            <div *ngFor="let product of products" class="product-item">
              <div class="product-item__img-container">
                <img [alt]="product.title" [src]="product.urlMainImage" class="product-item__img">
              </div>
              <span class="product-item__title">{{product.title}}</span>

              <button (click)="toggleItem(dataAdd, product)"
                      *ngIf="!mapProductIdInList.get(product.id); else productNotIn" color="primary" mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>

              <ng-template #productNotIn>
                <button (click)="toggleItem(dataAdd, product)" class="center" color="warn" mat-icon-button>
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </ng-template>
            </div>
          </div>
          <app-pagination [pageStart]="1" [perPage]="10" [totalItems]="25"></app-pagination>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </form>

</app-modal-mat>
