@import '../../../shared/shared';

.area-dialogo {
  display: block;
  justify-content: center;
  text-align: center;
  padding: $val-padding-area-form;
}

.area-form-fundo {
  padding-top: 10px;
  width: 100%;
}
