<ng-container *ngIf="requesting">
  <ngx-spinner [fullScreen]="true"
               bdColor="rgba(0, 0, 0, .5)" color="#fff" size="default" type="ball-clip-rotate">
    <p style="color: white"> Aguarde... </p>
  </ngx-spinner>
</ng-container>

<div style="padding: 30px 10px">
  <!-- TÍTULO DA PÁGINA -->
  <div class="page__header">
    <div class="title-page-w-border">
      <span>Gerenciar produtos</span>
    </div>
  </div>

  <!-- FILTROS E BOTÕES -->
  <div style="margin-bottom: 15px">
    <form [formGroup]="formGroup" class="header-actions row" id="header-actions">

      <!-- Título -->
      <mat-form-field class="col s12 m6 l3 xl3">
        <mat-label>Título</mat-label>
        <input [maxLength]="sizes.titleMax" formControlName="text" matInput type="text">
      </mat-form-field>

      <!-- Data de início de cadastro -->
      <mat-form-field class="col s12 m6 l3 xl3">
        <mat-label>Início do cadastro</mat-label>
        <input (dateChange)="searchProduct(formGroup.value)"
               (input)="maskDate($event, formGroup.controls['dateStart'])"
               [matDatepicker]="picker1" formControlName="dateStart" matInput type="text">
        <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['dateStart'].invalid">
          {{_getMsgFront(formGroup.controls['dateStart'], '25/06/2019')}}
        </mat-error>
      </mat-form-field>

      <!-- Data final de cadastro -->
      <mat-form-field class="col s12 m6 l3 xl3">
        <mat-label>Fim do cadastro</mat-label>
        <input (dateChange)="searchProduct(formGroup.value)"
               (input)="maskDate($event, formGroup.controls['dateEnd'])"
               [matDatepicker]="picker2" formControlName="dateEnd" matInput>
        <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['dateEnd'].invalid">
          {{_getMsgFront(formGroup.controls['dateEnd'], '10/02/2020')}}
        </mat-error>
      </mat-form-field>

      <!-- Categorias -->
      <mat-form-field class="col s12 m6 l3 xl3">
        <mat-label>Categorias</mat-label>
        <mat-select (selectionChange)="searchProduct(formGroup.value)"
                    formControlName="categories" multiple>
          <mat-option *ngFor="let categ of categories$ | async" [value]="categ.id">
            {{categ.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div class="search-actions row">
      <div class="search_new-prod col s12 m8 l9 xl10">
        <button (click)="createProduct()" class="btn-general" color="primary" mat-raised-button>
          <mat-icon>add</mat-icon>
          Novo produto
        </button>
      </div>
      <div class="sort_pagination col s12 m4 l3 xl2">
        <!-- Ordenação -->
        <mat-form-field class="col s12">
          <mat-label>Ordenar por</mat-label>
          <mat-select>
            <mat-option (click)="searchProduct(formGroup.value, opt.key)"
                        *ngFor="let opt of optsSort" [value]="opt.key">
              {{opt.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- PRODUTOS -->
  <div *ngIf="filterResult" style="width: 100%">
    <div class="products">
      <div *ngFor="let item of filterResult.result; trackBy: productTrackBy"
           class="row product">

        <!-- Imagem e dados do produto -->
        <a (click)="selectProduct(item.id)" class="col s10 m11 l11 xl11 product__data">

          <!-- Imagem principal do produto -->
          <div *ngIf="_window.screen.width > 480" class="col s3 m3 l2 xl1 product__cover">
            <img [alt]="item.title" [src]="item.urlMainImage" class="product__cover-img">
          </div>

          <div *ngIf="_window.screen.width < 481" class="col s12 product__cover-title">
            <div class="col s5 m3 l2 xl1 product__cover">
              <img [alt]="item.title" [src]="item.urlMainImage" class="product__cover-img">
            </div>
            <span class="product__title col s7 m12 l3 xl3">{{item.title}}</span>
          </div>

          <!-- Dados textuais (preço, frete grátis, ...) -->
          <div [ngClass]="_window.screen.width > 480 ? 's8' : 's12'"
               class="col m9 l10 xl11 product__props">

            <!-- Titulo do produto -->
            <span *ngIf="_window.screen.width > 480" class="product__title col s12 m12 l3 xl3">
              {{item.title}}
            </span>

            <!-- Preço do produto -->
            <div class="col s6 m3 l2 xl2 product__prop">
              <span class="product__prop--title">Preço</span>
              <span>{{item.price | currency: 'BRL'}}</span>
            </div>

            <!-- Preço com desconto -->
            <div class="col s6 m3 l2 xl2 product__prop">
              <span class="product__prop--title">Preço c/ desconto</span>
              <span>{{item.priceWithDiscount | currency: 'BRL'}}</span>
            </div>

            <!-- Desconto -->
            <div [ngClass]="{'s6': _window.screen.width < 481}"
                 class="col s4 m3 l1 xl1 product__prop">
              <span class="product__prop--title">Desconto</span>
              <span>{{item.percentOff | number: '1.0-2'}}%</span>
            </div>

            <!-- Unidades disponíveis -->
            <div [ngClass]="{'s6': _window.screen.width < 481}"
                 class="col s4 m3 l2 xl2 product__prop">
              <span class="product__prop--title">Disponíveis</span>
              <span>{{item.quantity}} UN</span>
            </div>

            <!-- Frete grátis -->
            <div [ngClass]="{'s6': _window.screen.width < 481}"
                 class="col s4 m3 l2 xl1 product__prop">
              <span class="product__prop--title">Frete grátis</span>
              <span>{{item.freeDelivery ? 'Sim' : 'Não'}}</span>
            </div>
          </div>
        </a>

        <!-- Menu contextual -->
        <div class="col s2 m1 l1 xl1">
          <button [matMenuTriggerFor]="menu" aria-label="Menu de opções para produto"
                  color="primary" mat-icon-button
                  title="Menu de opções para produto">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <ng-template matMenuContent>
              <button (click)="selectProduct(item.id)" class="button-icon" mat-menu-item>
                <mat-icon class="icon-menu">
                  <i aria-hidden="true" class="fas fa-pencil-alt"></i>
                </mat-icon>
                <span>Editar</span>
              </button>

              <button (click)="deleteProduct(item.id)" class="button-icon" mat-menu-item>
                <mat-icon>
                  <i aria-hidden="true" class="fas fa-trash-alt icon-menu"></i>
                </mat-icon>
                <span>Excluir</span>
              </button>

              <button (click)="toggleVisibility(item.id, !item.visible)"
                      class="button-icon" mat-menu-item>
                <mat-icon>
                  <i aria-hidden="true" class="fas fa-eye-slash"></i>
                </mat-icon>
                <span *ngIf="item.visible; else productInvisible">Esconder</span>
                <ng-template #productInvisible>
                  <span>Tornar Visível</span>
                </ng-template>
              </button>

            </ng-template>
          </mat-menu>
        </div>

        <div *ngIf="!item.visible" class="message-section message-section--blue">
          <i aria-hidden="true" class="fas fa-eye-slash"></i>
          Este produto não está visível para seus clientes.
          Para alterar, clique no menu (três pontos azuis) à direita.
        </div>
      </div>
    </div>

    <app-pagination [perPage]="filter.perPage" [totalItems]="countProductReturned" style="width: 100%;">
    </app-pagination>
  </div>
</div>
