@import '../../../../shared/styles/general';
@import '../../../../shared/styles/grid_materialize';
@import '../../../../shared/styles/mixins';
@import '../../../../shared/styles/placeholders';
@import '../../../../shared/styles/variables';

.page__header {
  color: $color-prim;
  @extend %center-flex;

  .title-page-w-border {
    margin-bottom: 30px;
  }

  .title-page {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: x-large;

    &--2nd-line {
      font-size: xx-large;
    }

    &-icon {
      font-size: 48px;
    }
  }
}

.header-actions {
  @extend %flex-wrap;
  margin: 15px 0 0;

  mat-form-field {
    @extend %color-text-prim;
    padding: 0 5px;
  }
}

.search-actions {
  @extend %flex-wrap;
  justify-content: space-between;

  .search_new-prod {
    .btn-general:not(:last-child) {
      margin-right: 15px;

      @media (max-width: $width-max-small) {
        margin-bottom: 15px;
      }
    }
  }

  .sort_pagination {
    @media (max-width: $width-max-small) {
      margin-top: 20px;
    }
  }
}

.products {
  display: block;
}

.product {
  @extend %center-vert-flex;
  flex-wrap: wrap;
  padding: 15px;

  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.1);

  text-align: center;
  text-decoration: none;

  &__data {
    @extend %center-vert-flex;
    @extend %color-text-prim--light;
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__cover-img {
    @include max-size(100px);
  }

  &__cover-title {
    @extend %center-vert-flex;

    .product__cover-img {
      max-width: 85px;
    }

    .product__title {
      padding: 5px;
      font-size: .9rem;
    }
  }

  &__props {
    @extend %center-vert-flex;
    flex-flow: wrap;

    .product__prop {
      @extend %flex-col;
      margin-top: 5px;
      padding: 5px;

      &--title {
        @extend %color-text-prim;
        font-weight: 500;
      }

      @media (max-width: 720px) {
        font-size: .8rem;
      }

      @media (max-width: $width-max-medium) {
        margin-left: 0 !important;
      }
    }

    &__title {
      border: 1px solid green;
      padding: 10px 20px;
    }
  }
}

.button-icon {
  @extend %center-vert-flex;

  mat-icon {
    @extend %center-flex;
    font-size: 18px;
  }
}

.text-warning {
  @extend %color-text-prim--light;
  text-align: justify;
}
