<div class="stars-section stars-section--{{align}}">
  <div #stars (mouseleave)="resetHoverEffect()" [ngClass]="{'stars--interactive': interactive}" class="stars"
       id="stars">
    <i (click)="selectValue(i+1)" (mouseenter)="currentHovered = i"
       *ngFor="let dif of diffAvgIdxs; let i = index"
       [ngClass]="applyActiveFullStarStyle(i) ? 'star--active' : (dif > 0 && 'star--incomp')"
       aria-hidden="true" class="fa fa-star star">
    </i>
  </div>
  <span *ngIf="quantityReviews > 0 && showNumRatings" class="rating-counter">({{quantityReviews}})</span>
</div>
