<div class="row main-form">

  <!-- NOME COMPLETO -->
  <mat-form-field class="col">
    <mat-label>Nome completo</mat-label>
    <input [formControl]="_controlName" [maxLength]="_sizes.nameMaxLen" matInput type="text">
    <mat-hint align="start">Ex: Irineu da Silva</mat-hint>
    <mat-error *ngIf="_controlName.invalid">{{_getMsg(_controlName, 'Irineu da Silva')}}</mat-error>
  </mat-form-field>

  <mat-form-field class="col">
    <mat-label>Email</mat-label>
    <input [formControl]="_controlEmail" [maxLength]="_sizes.emailMaxLen" matInput type="email">
    <mat-hint align="start">Ex: ola_marilene@gmail.com</mat-hint>
    <mat-error *ngIf="_controlEmail.invalid">{{_getMsg(_controlEmail, 'ola_marilene@gmail.com')}}</mat-error>
  </mat-form-field>

  <mat-form-field class="col">
    <mat-label>Telefone</mat-label>
    <input (input)="formatPhone($event)" [formControl]="_controlPhone" [maxLength]="_sizes.phoneMaxLen" matInput
           type="tel">
    <mat-hint align="start">Ex: 27 4002-8922 (Adicione apenas os dígitos)</mat-hint>
    <mat-error *ngIf="_controlPhone.invalid">{{_getMsg(_controlPhone, '27 4002-8922')}}</mat-error>
  </mat-form-field>

  <mat-form-field class="col">
    <mat-label>Senha</mat-label>
    <input [formControl]="_controlPass" [maxLength]="_sizes.passwordMaxLen" matInput type="password">
    <mat-error *ngIf="_controlPass.invalid">{{_getMsg(_controlPass)}}</mat-error>
  </mat-form-field>

  <mat-form-field class="col">
    <mat-label>Confirmação de senha</mat-label>
    <input [formControl]="_controlPassConfirm" [maxLength]="_sizes.passwordMaxLen" matInput type="password">
    <mat-error *ngIf="_controlPassConfirm.invalid">{{_getMsg(_controlPassConfirm)}}</mat-error>
  </mat-form-field>

  <button (click)="signIn()" [disabled]="_formG.invalid" class="btn-general" color="primary" mat-raised-button>
    <i aria-hidden="true" class="fas fa-paper-plane"></i>
    Criar conta
  </button>
</div>
