.flex-align_center {
  display: flex;
  align-items: center;
}

.area-info_usuario {
  height: 90px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-evenly;
}

.cabecalho-dados_pessoais {
  @extend .flex-align_center;
  max-height: 100%;
}

.area-avatar {
  max-height: 70px;
  max-width: 70px;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.35));
}

.img-avatar {
  display: inline;
  width: auto;
  height: 70px;
}

.icone-avatar {
  background-color: white;
  width: auto;
  font-size: 70px;
  color: black;
}
.area-info_nome_email {
  line-height: 25px;
}

.texto-nome {
  font-weight: 500;
}

.link-opcao_menu {
  @extend .flex-align_center;
  height: auto;
  line-height: 38px;
}

.icone {
  margin-right: 20px;
  font-size: large;
}

li:hover {

  a {
    transition: all 700ms;
    color: black;
  }

  .icone {
    transition: all 700ms;
    color: black;
  }
}
