@import '../../../shared/styles/mixins';
@import '../../../shared/styles/placeholders';

$_slide-height: 325px;

.carrossel {
  @extend %center-flex;
  height: $_slide-height;
}

.glide__slides {
  @extend %center-flex;
  padding: 0;
  max-height: $_slide-height;
}

.glide__slide {
  @extend %center-flex;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: $_slide-height;
    box-shadow: 1px 2px 12px black;
  }
}

.glide__track {
  position: relative;
}

.glide__arrows {
  @extend %center-flex;
  width: 100%;
  top: 50%;
  position: absolute;

  .glide__arrow {
    background-color: rgba(white, .25);
    position: absolute;

    &--next {
      right: 15px;
    }

    &--prev {
      left: 15px;
    }

    .arrow__icon {
      @extend %center-flex;
      color: white;
      font-size: xx-large;
    }
  }
}

.bg-blur {
  @extend %center-flex;
  @include size(100%);
  position: absolute;
  background-size: cover;
  background-position: center;
  max-height: 310px;
  max-width: 24%;

  z-index: -1;
  filter: blur(8px);
  opacity: .7;
}

.glide__indicator {
  @include size(9px);
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 24px 4px;
  background-color: rgba(white, .5);
  transition: background-color .3s;
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 8px;
  }
}
