@import "../../shared/shared";

$larg-slide: 712px;
$alt-slide: 325px;

.carrossel {
  display: flex;
  justify-content: center;
  height: $alt-slide !important;
}

.slide-area {
  display: flex;
  justify-content: center;
  background-color: #404040;
  min-height: auto !important;
  max-height: $alt-slide !important;
}

.slide-imagem {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: $alt-slide;
    box-shadow: 1px 2px 12px black;
    cursor: pointer;
  }
}

.background-desfocado {
  position: absolute;
  background-size: cover;
  background-position: center;

  height: $alt-slide;
  max-height: $alt-slide;
  width: 100%;

  display: flex;
  justify-content: center;

  z-index: -1;
  filter: blur(7px);
}

.slide-item {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: $alt-slide;
  width: 100%;
  z-index: 1;
}

.slide-item-rodape {
  align-self: flex-end;
  height: 250px;
  max-width: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;

  h6 {
    font-size: large;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1.75rem 0 1rem 0 !important;
  }

  p {
    font-size: medium;
  }
}

.slide-item-rodape-fundo {
  opacity: 0.7;
  height: 250px;
  max-width: 100%;
  width: 100%;
  position: absolute;
  align-self: flex-end;
  background-color: black;
}
