<div class="glide carrossel">

  <!--  <div class="area-passadores">,-->

  <!--    <a class="btn-floating btn-large waves-effect waves-light passador-anterior"-->
  <!--       (click)="voltarSlide()">-->
  <!--      <i aria-hidden="true" class="fas fa-chevron-left"></i>-->
  <!--    </a>-->

  <!--    <a class="btn-floating btn-large waves-effect waves-light passador-proximo"-->
  <!--       (click)="avancarSlide()">-->
  <!--      <i aria-hidden="true" class="fas fa-chevron-right"></i>-->
  <!--    </a>-->

  <!--  </div>-->
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <div *ngFor="let slide of slider.itens; let i = index" class="glide__slide slide-area"
             id="slide-{{i}}">

          <div [style.backgroundImage]="'url('+ slide.imagemUrl +')'"
               class="background-desfocado">
          </div>

          <div class="slide-imagem">
            <img alt="{{slide.titulo}}" src="{{slide.imagemUrl}}" title="{{slide.titulo}}">
          </div>

        </div>
      </ul>
    </div>
  </div>

</div>
