@import '../../../shared/shared';

.area-dialogo {
  display: block;
  justify-content: center;
  margin: 20px;
  text-align: center;
}

.icone--circ {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;

  background-color: $val-cor-prim;
  color: $val-cor-texto-prim;
  width: 65px;
  height: 65px;
  border-radius: 50%;

  i {
    font-size: xx-large;
  }
}

.area-titulo {
  text-transform: uppercase;
}

.area-form {
  margin: 10px 0;
}
