<div *ngIf="filterResponse" class="filter">
  <ul class="filter__content">

    <!-- CATEGORIAS -->
    <li *ngIf="filterResponse.categories.length" id="id-filtro-categorias">
      <div class="filter__section-header">Categorias</div>
      <div class="filter__section-body">
        <mat-checkbox (click)="categoryChange(categ.id)"
                      (change)="categoryChange(categ.id)"
                      *ngFor="let categ of filterResponse.categories;"
                      [checked]="categoriesInclude.get(categ.id)">
          {{categ.title}}
        </mat-checkbox>
      </div>
    </li>

    <!-- FRETE GRÁTIS -->
    <li *ngIf="filterResponse.freeDelivery" id="id-filtro-frete">
      <div class="filter__section-header">Frete</div>
      <div class="filter__section-body">
        <mat-checkbox (change)="freeDeliveryChange()" (click)="freeDeliveryChange()"
                      [checked]="freeDelivery" id="id-check-frete">
          Grátis
        </mat-checkbox>
      </div>
    </li>

    <!-- DESCONTOS -->
    <li *ngIf="filterResponse.discounts.length" id="id-filtro-desconto">
      <div class="filter__section-header">Desconto</div>
      <div class="filter__section-body">
        <mat-checkbox (change)="discountChange(pairMinMax[0] + pairMinMax[1])"
                      (click)="discountChange(pairMinMax[0] + pairMinMax[1])"
                      *ngFor="let pairMinMax of filterResponse.discounts;"
                      [checked]="discountsInclude.get(pairMinMax[0] + pairMinMax[1])">
          De {{pairMinMax[0]}}% até {{pairMinMax[1]}}%
        </mat-checkbox>
      </div>
    </li>

    <!-- PREÇO MÍNIMO E MÁXIMO-->
    <li id="id-filtro-preco">
      <div class="filter__section-header">Preço</div>
      <div class="filter__section-body filter__section-price">
        <mat-form-field appearance="outline">
          <mat-label>Mínimo</mat-label>
          <input (keydown.enter)="priceChange()" [(ngModel)]="priceMin"
                 matInput min="0" placeholder="Exemplo: 2.5" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Máximo</mat-label>
          <input (keydown.enter)="priceChange()" [(ngModel)]="priceMax"
                 matInput min="0" placeholder="Exemplo: 50.75" type="number">
        </mat-form-field>

        <button (click)="priceChange()" color="primary" mat-flat-button>BUSCAR</button>
      </div>
    </li>

    <!-- AVALIÇÃO (ESTRELAS) -->
    <li *ngIf="filterResponse.avgReview.length" id="id-filtro-avaliacao">
      <div class="filter__section-header">Avaliação</div>
      <div class="filter__section-body">
        <div *ngFor="let rating of filterResponse.avgReview" class="stars">
          <mat-checkbox (change)="ratingChange(rating)"
                        (click)="ratingChange(rating)"
                        [checked]="ratingsInclude.get(rating)">
            <span style="margin-left: 10px">
              <i *ngFor="let i of [1, 2, 3, 4, 5]" [ngClass]="{'star--active': i <= rating}"
                 class="fas fa-star star"></i>
            </span>
          </mat-checkbox>
        </div>
      </div>
    </li>
  </ul>
</div>
