<!-- TODO: Realizar binding com as rotas -->
<div class="filter">
  <span class="filter__title">Filtros</span>
  <mat-divider></mat-divider>
  <ul class="filter__content">

    <!-- CATEGORIAS -->
    <li id="id-filtro-categorias">
      <div class="filter__section-header">Categorias</div>
      <div class="filter__section-body">
        <mat-checkbox (change)="categoryChange(categ.id)" *ngFor="let categ of categoriesInit">
          {{categ.name}}
        </mat-checkbox>
      </div>
    </li>

    <!-- FRETE GRÁTIS -->
    <li *ngIf="freeDeliveryInit" id="id-filtro-frete">
      <div class="filter__section-header">Frete</div>
      <div class="filter__section-body">
        <mat-checkbox (change)="freeDeliveryChange()" id="id-check-frete">Grátis</mat-checkbox>
      </div>
    </li>

    <!-- DESCONTOS -->
    <li *ngIf="discountsInit.length > 0" id="id-filtro-desconto">
      <div class="filter__section-header">Desconto</div>
      <div class="filter__section-body">
        <mat-checkbox (change)="discountChange(0)">Até {{discountsInit[0][1]}}%</mat-checkbox>
        <mat-checkbox (change)="discountChange(i + 1)"
                      *ngFor="let precoMinMax of discountsInit.slice(1, discountsInit.length - 1); let i = index">
          De {{precoMinMax[0]}}% até {{precoMinMax[1]}}%
        </mat-checkbox>
        <mat-checkbox (change)="discountChange(discountsInit.length - 1)">
          Mais de {{discountsInit[discountsInit.length - 1][0] - 1}}%
        </mat-checkbox>
      </div>
    </li>

    <!-- PREÇO MÍNIMO E MÁXIMO-->
    <li id="id-filtro-preco">
      <div class="filter__section-header">Preço</div>
      <div class="filter__section-body filter__section-price">
        <mat-form-field appearance="outline">
          <mat-label>Mínimo</mat-label>
          <input (keydown.enter)="priceChange()" [(ngModel)]="priceMin" matInput min="0"
                 placeholder="Exemplo: 2.5" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Máximo</mat-label>
          <input (keydown.enter)="priceChange()" [(ngModel)]="priceMax" matInput min="0"
                 placeholder="Exemplo: 50.75" type="number">
        </mat-form-field>

        <button (click)="priceChange()" color="primary" mat-flat-button>BUSCAR</button>
      </div>
    </li>

    <!-- AVALIÇÃO (ESTRELAS) -->
    <li *ngIf="ratingsInit.length > 0" id="id-filtro-avaliacao">
      <div class="filter__section-header">Avaliação</div>
      <div class="filter__section-body">
        <div *ngFor="let rating of ratingsInit; let i = index" class="stars">
          <mat-checkbox (change)="ratingChange(i)">
            <span style="margin-left: 10px">
              <i *ngFor="let i of [1, 2, 3, 4, 5]" [ngClass]="{'star--active': i <= rating}"
                 class="fas fa-star star"></i>
            </span>
          </mat-checkbox>
        </div>
      </div>
    </li>
  </ul>
</div>
