@import "../../shared/shared.scss";

$val-b-radius: 18px;

/*Área das abas (Login e cadastro)*/
.abas {
  border-radius: 20px 20px 0 0;
  height: 70px;
  margin: 0;
}

.aba {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  transition: all 0.5s;
  border-bottom: 2px solid lightgrey;

  a {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    color: $val-cor-link--inativo;
    display: grid;
  }

  i {
    font-size: 20px;
    padding-bottom: 6px;
  }

  &:hover {
    background-color: $val-cor-sec;

    a {
      color: $val-cor-link--hover;
    }
  }

  @media (max-width: 320px) {

    a {
      font-size: smaller;
    }
  }
}

.aba--ativa {
  a {
    color: $val-cor-link--ativo;
  }

  border-bottom: 2px solid $val-cor-link--ativo;
}

.aba_esq {
  border-radius: $val-b-radius 0 0 0;
  border-right: 1px solid lightgray;
}

.aba_dir {
  border-radius: 0 $val-b-radius 0 0;
}

/*Área ícones*/
.area-logar_redes_sociais {
  display: grid;
  justify-content: center;
  margin-top: 5px;
  text-align: center;
}

.area-icones_redes_sociais {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

@mixin btn-circ($color-hex) {
  @extend .fab-prim;
  background-color: $color-hex;

  &:hover {
    background-color: rgba($color-hex, 0.7);
  }
}

.btn-circ-facebook {
  @include btn-circ($val-cor-facebook);
}

.btn-circ-twitter {
  @include btn-circ($val-cor-twitter);
}

.btn-circ-google {
  @include btn-circ($val-cor-google);
}
