<app-pagina-fundo>
  <!-- Área de abas -->
  <div class="row" style="width: 100%; margin: 0">
    <ul class="abas" id="tabs">

      <!-- Aba de login -->
      <li class="aba aba_esq col s6" id="entrar">
        <a routerLink="entrar">
          <i aria-hidden="true" class="fas fa-sign-in-alt"></i>
          <span>Login</span>
        </a>
      </li>

      <!-- Aba de Cadastro -->
      <li class="aba aba_dir col s6" id="cadastrar">
        <a routerLink="cadastrar">
          <i aria-hidden="true" class="fas fa-user-plus"></i>
          <span>Registrar-se</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Área de conteúdo -->
  <div class="area-conteudo">
    <router-outlet></router-outlet>
  </div>
</app-pagina-fundo>
