<app-modal [mostrar]="true"></app-modal>

<div style="justify-content: center; display: flex;">
  <div class="area-login">
    <div class="area-form col s12 m8 pull-m2 l6 pull-l3 xl4 pull-xl4">

      <div class="row">

        <!-- Área de abas -->
        <div class="col s12">
          <ul id="tabs" class="abas">

            <!-- Aba de login -->
            <li id="entrar" class="aba aba_esq col s6">
              <a routerLink="entrar">
                <i aria-hidden="true" class="fas fa-sign-in-alt"></i>
                <span>Login</span>
              </a>
            </li>

            <!-- Aba de Cadastro -->
            <li id="cadastrar"  class="aba aba_dir col s6">
              <a routerLink="cadastrar">
                <i aria-hidden="true" class="fas fa-user-plus"></i>
                <span>Registrar-se</span>
              </a>
            </li>
          </ul>
        </div>

      </div>

      <!-- Área de conteúdo -->
      <div class="area-conteudo">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
