<div class="container-principal">

  <!-- Colunas com preço, disponibilidade, frete, ... -->
  <div class="row">

    <!-- Imagens -->
    <div class="col s12 m12 l4 xl4 img-section" style="text-align: center">
      <img [src]="produto.urlImagem" alt="Imagem do produto {{produto.titulo}}"
           class="main-img">
    </div>

    <!-- Titulo, Cont. Avalições, Descrição e Calc. de Frete -->
    <div class="col s12 m6 l4 xl4 product-info">

      <!-- Título -->
      <h5 class="product-info-title">{{produto.titulo}}</h5>

      <!-- Média das avaliações -->
      <!-- TODO: Trazer info do banco de dados   -->
      <a fragment="rating" routerLink=".">
        <app-avaliador-estrelas [fontSize]="18" [mediaAvaliacao]="media" [qtdAvaliacoes]="avaliacoes.length"
                                [qtdEstrelas]="5"
                                title="A média das avaliações do produto é {{media}}">
        </app-avaliador-estrelas>
      </a>

      <!-- Descrição -->
      <p class="product-info-desc">{{produto.descricao}}</p>

      <div class="divider" style="margin: 20px 0;"></div>

      <!-- Devolução -->
      <div class="devolution-section" id="id-area-devolucao">
        <i aria-hidden="true" class="fa fa-history"></i>
        <div>
          <strong style="font-weight: 600;">Direito à devolução</strong><br>
          <span>Após receber o produto, você tem 7 dias úteis para solicitar sua devolução.</span><br>
          <a>Mais informações</a>
        </div>
      </div>
    </div>

    <!-- Preço, meios de pagamento, cálculo de frete e botões principais -->
    <div class="col s12 m6 l4 xl4 shopping-section">

      <!-- Bandeira de desconto e preço sem desconto -->
      <div *ngIf="produto.porcentDesc > 0" class="discount">
        <span class="discount-text">R$ {{produto.preco | number: '1.2-2'}}</span>
        <span class="discount-flag">
          <i aria-hidden="true" class="fas fa-arrow-down"></i>
          {{produto.porcentDesc | number: '1.0-2'}}%
        </span>
      </div>

      <span class="shopping-section-price">R$ {{produto.precoComDesc | number: '1.2-2'}}</span>

      <!-- Produto DISPONÍVEL -->
      <div *ngIf="produto.qtdDisponivel > 0; else prodIndisponivel">

        <!-- Seção de meios de pagamento -->
        <div class="payments-section">
          <i aria-hidden="true" class="fa fa-money-bill-wave icon-money"></i>
          <div class="payments-section-text">
            <strong>Meios de pagamento</strong>
            <div class="payments-options">
              <img alt="" class="payments-options-pagseguro"
                   src="https://assets.pagseguro.com.br/ps-bootstrap/ccf/img/logos/pagbank/pagbank-logo-animado_35px@3x.gif">
              <i aria-hidden="true" class="fab fa-cc-paypal" style="color: #2b419f"></i>
              <i aria-hidden="true" class="fa fa-barcode" style="color: black"></i>
            </div>
            <a (click)="_showModalPayments = true">Ver mais informações</a>
          </div>
        </div>

        <!-- Calcular frete -->
        <div class="shipping-section">
          <i aria-hidden="true" class="fa fa-truck"></i>

          <div *ngIf="!deliveryChosen; else currDelivery" class="shipping-section-text">
            <strong>Entrega em todo país!</strong>
            <span>Clique abaixo para calcular prazo e custo.</span>
            <a (click)="_showModalAddress = true">Calcular frete</a>
          </div>

          <ng-template #currDelivery>
            <div class="shipping-section-text">
            <span>Custo de
              <strong>{{deliveryChosen.cost | currency: 'BRL'}}</strong>
            </span>
              <span>Data prevista para entrega é:
              <strong>1 e 7 de fevereiro</strong>
            </span>
              <a (click)="_showModalAddress = true">Ver opções de frete</a>
            </div>
          </ng-template>
        </div>

        <!-- Botões de Comprar e Add. ao Carrinho -->
        <button class="btn-contained" style="width: 100%; margin-top: 10px;">
          <i aria-hidden="true" class="fa fa-gift"></i>
          Comprar
        </button>
        <button (click)="addToCart()" class="btn-outlined" style="width: 100%; margin-top: 15px;">
          <i aria-hidden="true" class="fa fa-cart-plus"></i>
          Adicionar ao Carrinho
        </button>
      </div>

      <!-- Produto INDISPONÍVEL -->
      <ng-template #prodIndisponivel>

        <!-- Aviso -->
        <div class="unavailable-section" id="id-aviso-indisp">
          <i aria-hidden="true" class="far fa-sad-cry"></i>
          <div>
            <strong style="font-weight: 600;">Produto indisponível!</strong><br>
            <span>
            No momento, não temos esse produto em estoque, para
            acompanhar quando estiver disponível, inscreva-se para ser notificado
            ou adicione-o em seus favoritos.
          </span><br>
          </div>
        </div>

        <button class="btn-contained" style="width: 100%; margin-top: 10px;">
          <i aria-hidden="true" class="far fa-envelope"></i>
          Avise quando chegar
        </button>

        <button class="btn-fav" style="width: 100%; margin-top: 15px;">
          <i aria-hidden="true" class="far fa-heart"></i>
          Adicionar aos favoritos
        </button>
      </ng-template>
    </div>
  </div>

  <div class="divider"></div>

  <!-- Descrição -->
  <div>
    <strong class="titulo-secao">Descrição</strong>
    <p class="product-info-desc">{{produto.descricao}}</p>
  </div>

  <div class="divider"></div>

  <div id="rating" style="display: grid; width: 100%">
    <strong class="titulo-secao">Avaliações</strong>
    <app-lista-avaliacoes [avaliacoes]="avaliacoes"></app-lista-avaliacoes>
    <!-- TODO: Tornar o componente de paginação responsivo -->
    <app-paginacao [paginaAtual]="1" [qtdPags]="14"></app-paginacao>
  </div>

  <div class="divider"></div>
</div>
<app-seq-produto [sequencia]="seqProd"></app-seq-produto>
<app-modal-frete (action)="showModalShipp($event)"
                 (closed)="_showModalAddress = false"
                 *ngIf="_showModalAddress" [addresses]="enderecos">
</app-modal-frete>
<app-modal-shipping (action)="updateChosenDelivery($event)"
                    (closed)="_showModalDelivery = false"
                    (selectAddress)="showModalAdress()"
                    *ngIf="_showModalDelivery" [optionsDelivery]="deliveryOpts">
</app-modal-shipping>
<app-modal-payment (closed)="_showModalPayments = false"
                   *ngIf="_showModalPayments"></app-modal-payment>
