@import '../../../../shared/styles/buttons';
@import '../../../../shared/styles/mixins';
@import '../../../../shared/styles/placeholders';
@import '../../../../shared/styles/variables';

$color-green: #00a650;

.container-principal {
  padding: 20px;

  & > .col {
    padding: 0 15px;
  }
}

.divider {
  margin: 30px 0;
}

.area-media-cont-opinioes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-section {
  padding: 10px;

  .main-img {
    @include max-size(300px);
    width: auto;

    @media (max-width: $width-max-medium) {
      @include max-size(250px);
      width: auto;
    }
  }
}

.product-info {
  &-title {
    @extend %color-text-prim;
    font-weight: 500;
  }

  &-desc {
    color: $color-sec--dark;
    white-space: pre-wrap;
    text-align: justify;
  }
}

.discount-flag {
  margin-left: 5px;
  background: limegreen;
  font-size: small;
  color: white;
  padding: 0 4px;
  border-radius: 3px
}

.shopping-section {
  max-width: 100%;

  &-price {
    @extend %color-text-prim;
    font-size: 28px;
  }

  .discount {
    @extend %center-vert-flex;

    &-text {
      @extend %color-text-prim;
      text-decoration: line-through;
    }
  }
}

.shipping-section {
  @extend %center-vert-flex;

  &-text {
    display: grid;

    span, strong {
      @extend %color-text-prim;
    }
  }

  .fa-truck {
    padding-right: 20px;
    font-size: 22px;
    @extend %color-text-prim;
  }
}

.payments-section {
  @extend %center-vert-flex;
  padding: 15px 0;

  &-text {
    display: grid;

    span, strong {
      @extend %color-text-prim;
    }
  }

  .icon-money {
    padding-right: 20px;
    font-size: 22px;
    @extend %color-text-prim;
  }

  .payments-options {
    @extend %center-vert-flex;
    justify-content: space-between;
    font-size: 22px;
    padding: 8px 0 5px;

    &-pagseguro {
      max-height: 18px;
    }
  }
}

.devolution-section {
  @extend %center-flex;
  font-size: small;
  padding: 10px 15px;
  background: rgba($color-green, .1);
  border-radius: 4px;
  margin: 15px 0;
  color: $color-green;

  i {
    @extend %center-flex;
    color: white;
    height: 28px;
    min-width: 28px;
    margin-right: 10px;
    background: $color-green;
    border-radius: 50%;
    font-size: 16px;
  }
}

.unavailable-section {
  @extend %center-flex;
  font-size: small;
  padding: 10px 15px;
  background: rgba($color-sec--light, .3);
  border-radius: 4px;
  margin: 15px 0;
  color: $color-prim--light;

  i {
    @extend %center-flex;
    color: $color-prim--light;
    height: 28px;
    min-width: 28px;
    margin-right: 10px;
    background: white;
    border-radius: 50%;
    font-size: 30px;
  }
}

.btn-fav {
  @include btn-outlined(deeppink);
}
