@import "../../shared/shared";

$altura-banner: 200px;

.banner {
  width: 100%;
  height: $altura-banner + 50;
  background-image: radial-gradient(#2d2d2d, black);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner-area {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
}

.banner-area-info {
  position: absolute;
  height: auto;
  font-size: small;
  padding: 0 0 15px 20px;
  z-index: 1;
  text-shadow: 1px 1px 3px #000;

  @media (max-width: 500px) {
    font-size: smaller;
  }
}

a {
  width: auto;
  display: flex;
  height: $altura-banner;
  align-items: flex-end;
}

.img-central {
  width: auto;
  max-height: 95%;
}


