<div class="banner" title="banner loja">


  <div class="banner-area-info" title="Endereço">
    <span style="color: white">Nome fantasia: {{info.nomeFantasia}}</span><br>
    <span style="color: white">R. Social: {{info.razaoSocial}}</span><br>
    <span style="color: white">CNPJ: {{info.cnpj}}</span><br>
    <span style="color: white">{{info.endereco.numero}} - {{info.endereco.lograd}}</span><br>
    <span style="color: white">
      {{info.endereco.bairro}} - {{info.endereco.cidade}} - {{info.endereco.estado}}
    </span><br>
  </div>

  <div title="Área imagens">
    <img alt="Imagem - rex render" class="responsive-img img-central" src="../../../assets/yugioh-rex.png"
         title="Rex render">
  </div>

</div>

