<div class="banner" title="banner loja">

  <div class="banner-area">
    <!-- TODO: Criar forma responsiva/atrativa de exibir tais informações em telas < 700px -->
    <div class="banner-area-info" title="Endereço">
      <span style="color: white">Nome fantasia: {{info.nomeFantasia}}</span><br>
      <span style="color: white">R. Social: {{info.razaoSocial}}</span><br>
      <span style="color: white">CNPJ: {{info.cnpj}}</span><br>
      <span style="color: white">{{info.endereco.numero}} - {{info.endereco.lograd}}</span><br>
      <span style="color: white">
      {{info.endereco.bairro}} - {{info.endereco.cidade}} - {{info.endereco.estado}}
    </span><br>
    </div>
  </div>

  <div title="Área imagens">
    <a href="https://www.google.com.br/search?q=rex+Yugioh">
      <!-- TODO: Alterar para receber LINK da imagem escolhida pelo usuário -->
      <img alt="Imagem - rex render" class="img-central responsive-img"
           src="../../../assets/yugioh.png"
           title="Rex render">
    </a>
  </div>

</div>

