<!-- Modal Structure -->
<div class="modal modal-fixed-footer" id="id-modal">
  <div class="modal-content">
    <h5>Selecione seu endereço e opção de recebimento</h5>
    <p>Abaixo será possível conferir prazo e custo de entrega desse produto</p>

    <div class="row">
      <ul class="tabs">
        <li class="tab col s6">
          <a class="active" href="#test1">
            <i aria-hidden="true" class="fa fa-map-marker-alt"
               style="font-size: medium"></i>
            Meus endereços
          </a>
        </li>
        <li class="tab col s6">
          <a href="#test2">
            <i aria-hidden="true" class="fa fa-shipping-fast"
               style="font-size: medium"></i>
            Opções de entrega
          </a>
        </li>
      </ul>
    </div>

    <div class="col s12" id="test1">Test 1</div>
    <div class="col s12" id="test2">Test 2</div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" href="#!">Agree</a>
  </div>
</div>
