<app-modal-base (action)="emitEvent(action, inputCEP)" (closed)="emitEvent(closed)"
                [actionDisabled]="!validCEP" [btnAcceptTitle]="confirmTitle"
                [btnCancelTitle]="cancelTitle" [modalDesc]="modalDesc"
                [modalTitle]="modalTitle">
  <div style="display: grid">
    <strong class="title-input-cep">Informar um CEP</strong>
    <div class="input-default">
      <input (focusin)="clearRadioAdress('endereco', 'list-address__item-content--active')"
             (focusout)="validateCEP(inputCEP, textHintCEP, 'hint-cep', 'input-cep')"
             (input)="formatCEP($event)"
             [(ngModel)]="inputCEP" id="input-cep" required type="text">
      <label for="input-cep">CEP</label>
      <span id="hint-cep">{{textHintCEP}}</span>
    </div>

    <!-- Caso o usuário esteja logado e com algum enedereço registrado -->
    <strong class="title-adress-list" style="margin-top: 20px">Seus endereços</strong>
    <ul class="list-address">
      <li *ngFor="let end of addresses" class="list-address__item">
        <label (click)="selectAddress(end.id, 'list-address__item-content--active')">
          <input class="with-gap" name="endereco" type="radio">
          <span class="list-address__item-content" id="{{end.id}}">
              <strong>{{end.numero}} - {{end.logradouro}} - {{end.bairro}}</strong>
              CEP: {{end.cep}} - {{end.cidade}} - {{end.estado}}
            </span>
        </label>
      </li>
    </ul>
  </div>
</app-modal-base>
