@import '../../../../shared/styles/buttons';
@import '../../../../shared/styles/effects';
@import '../../../../shared/styles/placeholders';
@import '../../../../shared/styles/states';
@import '../../../../shared/styles/variables';

$margin-l-r: 24px;

%title-modal-section {
  font-size: medium;
  color: $color-prim--light;
  line-height: 2.5;
}

.title-adress-list {
  @extend %title-modal-section;
}

.title-input-cep {
  @extend %title-modal-section;
}


.list-address {
  border: 1px solid #ddd;
  margin: 0;

  &__item {
    @include state--colored(dodgerblue);
    @include gen-ripple(dodgerblue);
    padding: 8px 15px;

    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }

    [type="radio"] + span::before, [type="radio"] + span::after {
      top: unset !important;
    }

    &-content {
      height: auto !important;
      display: grid !important;
      align-items: center;

      &--active {
        color: $color-prim--light;
      }
    }
  }
}

@media (max-width: $width-max-small) {
  .input-default {
    margin: 0 $margin-l-r;
  }

  %title-modal-section {
    margin-left: $margin-l-r;
  }
}
