<app-modal-base (action)="action.emit()" (closed)="closed.emit()"
                [btnCancelTitle]="modalText.btnCancel"
                [modalDesc]="modalText.desc" [modalTitle]="modalText.title">
  <div class="payment-card">
    <span class="payment-card-title">Cartões de crédito</span><br>
    <div class="payment-card-icons">
      <i aria-hidden="true" class="fab fa-cc-amex"></i>
      <i aria-hidden="true" class="fab fa-cc-diners-club"></i>
      <i aria-hidden="true" class="fab fa-cc-mastercard"></i>
      <i aria-hidden="true" class="fab fa-cc-visa"></i>
    </div>
    <span class="payment-card-desc">
      Os pagamentos via cartão de crédito possuem aprovação instantânea e
      podem permitir o parcelamento de sua compra em até 12 vezes.
    </span>
  </div>

  <br>
  <div class="payment-paypal">
    <span class="payment-paypal-title">Paypal</span><br>
    <span class="payment-paypal-desc">
      <i aria-hidden="true" class="fab fa-paypal"></i>
      Com a plataforma Paypal, é possível pagar suas compras com cartões de
      crédito ou saldo da própria aplicação, tudo de forma extremamente segura.
    </span>
  </div>

  <br>
  <div class="payment-boleto">
    <span class="payment-boleto-title">Boleto</span><br>
    <span class="payment-boleto-desc">
      <i aria-hidden="true" class="fa fa-barcode"></i>
      O boleto bancário pode ser pago em qualquer caixa eletrônico, agência
      bancária ou internet banking. A aprovação do pagamento de um boleto
      pode levar até dois dias úteis.
    </span>
  </div>
</app-modal-base>
