<app-sidenav [exibir]="exibirSidenav" [usuario]="usuarioAtual"></app-sidenav>

<nav class="navbar">
  <div class="row nav-cols no-padding">

    <!--  Coluna da esquerda: Contém o menu hamburger  -->
    <div class="col s5 m4 no-padding nav-col-esquerda">
      <i aria-hidden="true" class="fas fa-bars icone" (click)="toggleSidenav()"></i>
    </div>

    <!--  Coluna centro: contém a logo da loja  -->
    <!--  TODO: Trabalhar com logo escolhida pela loja -->
    <div class="col s3 m4 no-padding nav-col-centro">
      <img alt="yugioh_logo"
           class="responsive-img img-col-centro"
           src="../../../assets/yugioh-logo.png"/>
    </div>

    <!--  Coluna da direita: contém o botão de busca, sino e carrinho  -->
    <div class="col s5 m4 no-padding nav-col-direita">
      <ul>

        <!-- Área para buscas -->
        <li>
          <a class="icone-link">
            <i (click)="toggleBusca()" aria-hidden="true" class="fas fa-search"></i>
          </a>
        </li>

        <!-- Área de notificações -->
        <li>

          <!-- Contador de notificações -->
          <a class="icone-link" (click)="toggleListaNotificacoes()">
            <span *ngIf="qtdNotifAtiva > 0" class="area-contador_notif pulse">
              {{qtdNotifAtiva}}
            </span>
            <i aria-hidden="true" class="fas fa-bell"></i>
          </a>

          <!-- Área de listagem de notificações -->
          <div *ngIf="exibirNotificacoes"
               class="col s12 m6 l4 xl4 area-lista_notif--ativa">

            <!-- Cabeçalho com opções e engrenagem -->
            <div class="area-lista_notif-topo">
              <span>Notificações</span>
              <a class="icone-marcar_todas_notif"
                 title="Marcar todas como lidas"
                 (click)="marcarTodasNotificacoesComoLidas()">
                <i aria-hidden="true" class="far fa-check-square"></i>
              </a>
            </div>

            <div class="divider"></div>

            <!-- Lista de notificações -->
            <div class="area-lista_notif-corpo barra-rolagem">
              <ul class="collection">

                <!-- Área individual da notifição -->
                <li id="area-notificacao-{{notif.id}}" *ngFor="let notif of notificacoes"
                    class="collection-item no-padding">
                  <div>

                    <!-- Área do checkbox -->
                    <label class="checkbox md-checkbox">
                      <input type="checkbox" [checked]="notif.lida"
                             (click)="toggleNotificacao(notif)"/>
                      <span></span>
                    </label>

                    <!-- Área clicável -->
                    <a class="notificacao" (click)="marcarNotificacaoComoLida(notif)"
                       [ngClass]="notif.lida ? 'notif--inativa' : 'notif--ativa'">

                      <!-- Área individual da notifição -->
                      <a class="icone-circulo">
                        <i aria-hidden="true" class="{{notif.classeIcone}}"></i>
                      </a>

                      <!-- Área que contém as informações da notifição -->
                      <div class="notific-info">
                        <span class="notif-desc">{{notif.texto}}<br></span>
                        <span class="notif-data">{{notif.dataCriacao | date: 'dd/MM/yyyy - hh:mm:ss'}}</span>
                      </div>
                    </a>

                  </div>
                </li>
              </ul>
            </div>
          </div>

        </li>

        <!-- Área do carrinho de compras -->
        <li>
          <a class="icone-link">
            <i aria-hidden="true" class="fas fa-shopping-cart"></i>
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>

<!-- TODO: Alterar função para realizar buscas nos produtos da loja -->
<app-barra-busca [hidden]="!exibirBusca" [exibir]="exibirBusca" (textoSaida)="print($event)"></app-barra-busca>

