<app-sidenav [exibir]="exibirSidenav" [usuario]="usuarioAtual"></app-sidenav>

<div id="area-navbar">
  <nav class="navbar row" style="margin-bottom: 0">

    <!-- Área da esquerda (Logo e menu hamburger) -->
    <div class="nav-colunas col m3 l3 xl3">
      <i (click)="toggleSidenav()" aria-hidden="true" class="fas fa-bars"
         style="margin-right: 20px"></i>
      <img alt="yugioh_logo" src="../../../assets/yugioh-logo.png"/>
    </div>

    <div class="nav-colunas" style="width: 100%;">
      <app-barra-busca style="width: 100%;"></app-barra-busca>
    </div>

    <div class="nav-colunas col m3 l3 xl3"
         style="padding-top: 7px; justify-content: flex-end;">
      <!-- Área de notificações -->
      <div>
        <!-- Contador de notificações -->
        <a (click)="toggleListaNotificacoes()" class="icone-link">
          <span *ngIf="qtdNotifAtiva > 0" class="area-contador_notif pulse">
            {{qtdNotifAtiva}}
          </span>
          <i aria-hidden="true" class="fas fa-bell" style="margin-right: 20px"></i>
        </a>

        <!-- Área de listagem de notificações -->
        <div *ngIf="exibirNotificacoes"
             class="col s12 m6 l4 xl4 area-lista_notif--ativa">

          <!-- Cabeçalho com opções e engrenagem -->
          <div class="area-lista_notif-topo">
            <span>Notificações</span>
            <a (click)="marcarTodasNotificacoesComoLidas()"
               class="icone-marcar_todas_notif"
               title="Marcar todas como lidas">
              <i aria-hidden="true" class="far fa-check-square"></i>
            </a>
          </div>

          <div class="divider"></div>

          <!-- Lista de notificações -->
          <div class="area-lista_notif-corpo barra-rolagem">
            <ul class="collection">

              <!-- Área individual da notifição -->
              <li *ngFor="let notif of notificacoes" class="collection-item no-padding"
                  id="area-notificacao-{{notif.id}}">
                <div>

                  <!-- Área do checkbox -->
                  <label class="checkbox md-checkbox">
                    <input (click)="toggleNotificacao(notif)" [checked]="notif.lida"
                           type="checkbox"/>
                    <span></span>
                  </label>

                  <!-- Área clicável -->
                  <a (click)="marcarNotificacaoComoLida(notif)"
                     [ngClass]="notif.lida ? 'notif--inativa' : 'notif--ativa'"
                     class="notificacao">

                    <!-- Área individual da notifição -->
                    <a class="icone-circulo">
                      <i aria-hidden="true" class="{{notif.classeIcone}}"></i>
                    </a>

                    <!-- Área que contém as informações da notifição -->
                    <div class="notific-info">
                      <span class="notif-desc">{{notif.texto}}<br></span>
                      <span class="notif-data">{{notif.dataCriacao | date: 'dd/MM/yyyy - hh:mm:ss'}}</span>
                    </div>
                  </a>

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Área do carrinho de compras -->
      <a class="icone-link">
        <i aria-hidden="true" class="fas fa-shopping-cart"></i>
      </a>
    </div>

  </nav>
</div>


