<div class="menu">
  <button [routerLink]="actionHome.url" class="menu__btn-action" mat-mini-fab>
    <i aria-hidden="true" class="fas fa-home"></i>
  </button>

  <button *ngIf="userLogged" [routerLink]="actionEnter.url" class="menu__btn-action" mat-mini-fab>
    <i aria-hidden="true" class="fas fa-sign-in-alt"></i>
  </button>

  <button *ngIf="!userLogged" [routerLink]="actionAdd.url" class="menu__btn-action" mat-mini-fab>
    <i aria-hidden="true" class="fas fa-user-plus"></i>
  </button>
</div>
