@import '../../../../shared/styles/general';
@import '../../../../shared/styles/placeholders';

.page-container {
  @extend %center-horiz-flex;
  margin: 40px 0;

  .page {
    color: dimgray;
    text-align: center;
    font-weight: 300;
    display: grid;
    line-height: 1.25;

    &__title {
      font-weight: 500;
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 2rem;
    }

    &__desc {
      color: dodgerblue;
      font-size: 1.4rem;

      &-icon {
        display: block;
        font-size: 2.5rem;
      }
    }
  }
}

.title-page-w-border {
  display: block;
  width: fit-content;
  margin: 0 auto 35px;
}
