@import '../../../shared/styles/placeholders';
@import '../../../shared/styles/variables';

$_height-searchbar: 48px;
$_padding-r-l-input: 10px;
$_border-width: 1.5px;

.search-section {
  @extend %center-vert-flex;
  margin: 0 15px;
  height: $_height-searchbar;

  .input-search {
    width: calc(100% - 20px);
    max-width: 600px - 2 * $_padding-r-l-input;
    height: 35px;
    font-size: 15px;

    padding: 0 $_padding-r-l-input;
    border: $_border-width solid $color-sec;
    transition: border-color 1s;
    border-radius: 5px 0 0 5px;
    outline: none;

    &:focus {
      border-color: $link-color;
    }

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  .search__buttons {
    position: relative;

    .btn-search {
      height: 35px;
      width: 40px;
      padding: 0 $_padding-r-l-input;
      border-radius: 0 5px 5px 0;
      color: white;
      background-color: $color-sec;
      transition: font-size .35s, border-color 1s, background-color .35s;
      outline: none;
      border: none;
      cursor: pointer;

      &:focus {
        font-size: large;
        background-color: $link-color;
      }
    }
  }
}

