$val-margin-campo-btn: 40px;
$val-padding-area-form: 20px;

$val-cor-link--ativo: dodgerblue;
$val-cor-link--hover: white;
$val-cor-link--inativo: #80c4ff;

$val-cor-prim: #212121;
$val-cor-prim-escura: black;
$val-cor-prim-clara: #484848;

$val-cor-sec: #9e9e9e;
$val-cor-sec-escura: #707070;
$val-cor-sec-clara: #cfcfcf;

$val-cor-texto-prim: white;
$val-cor-texto-sec: black;

$val-cor-twitter: #1da1f2;
$val-cor-facebook: #4267b2;
$val-cor-google: #dd3c2a;

@mixin btn-circle($largura: 35px, $altura: 35px) {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 100%;
  width: $largura;
  height: $altura;
  line-height: $altura;
}

@mixin btn-circle--blue($largura, $altura) {
  @include btn-circle($largura, $altura);
  background-color: dodgerblue;
}

@mixin btn-circle--red($largura, $altura) {
  @include btn-circle($largura, $altura);
  background-color: red;
}

@mixin btn-circle--green($largura, $altura) {
  @include btn-circle($largura, $altura);
  background-color: green;
}

.area-passadores {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.passador {
  font-size: 45px;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  filter: drop-shadow(1px 2px 3px darkgrey);
}

.passador-anterior {
  @extend .passador;
  left: 15px;
}

.passador-proximo {
  @extend .passador;
  right: 15px;
}


.titulo-componente {
  margin-top: 40px;
  text-align: center;
  color: dimgrey;
}

.titulo-componente::after {
  content: '';
  width: 30%;
  height: 4px;
  background-color: #d0d0d0;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}

/*Barra de rolagem*/
.barra-rolagem {
  float: left;
  overflow-y: scroll;
  margin-bottom: 5px;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
}

.checkbox {
  cursor: pointer;
  width: 100%;
  max-width: 24px;
  max-height: 24px;
  z-index: 1;
}

.btn-prim {
  display: inline-flex;
  margin: 10px 0;
  border-radius: 20px;
  background-color: $val-cor-prim !important;

  @media (pointer: fine) {
    &:hover {
      background-color: $val-cor-prim-clara !important;
    }
  }

  i {
    font-size: 18px;
    margin-right: 8px;
  }
}

.fab-prim {
  margin: 0 10px 12px;
  background-color: $val-cor-prim;

  @media (pointer: fine) {
    &:hover {
      background-color: rgba($val-cor-prim-clara, 0.9);
    }
  }

  i {
    font-size: 18px !important;
  }
}

/*Área p/ campos de input (formulário)*/
.input-field {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.input-field input:focus + label {
  color: $val-cor-link--ativo;
}

.input-field input:focus {
  border-bottom: 1px solid $val-cor-link--ativo;
  box-shadow: 0 1px 0 0 $val-cor-link--ativo;
}
