<div class="main-container">

  <!-- Colunas com preço, disponibilidade, frete, ... -->
  <div class="row">

    <!-- Imagens -->
    <div class="col s12 m12 l4 xl4 img-section">
      <img [src]="product.urlImage" alt="Imagem do produto {{product.title}}" class="main-img">
    </div>

    <!-- Titulo, Cont. Avalições, Descrição e Calc. de Frete -->
    <div class="col s12 m6 l4 xl4 product-info">

      <!-- Título -->
      <h5 class="product-info__title">{{product.title}}</h5>

      <!-- Média das avaliações -->
      <!-- TODO: Trazer info do banco de dados   -->
      <a fragment="rating" routerLink=".">
        <app-star-rating [fontSize]="18" [maxStars]="5"
                         [numRatings]="avaliacoes.length" [valueRating]="media"
                         title="A média das avaliações do produto é {{media}}">
        </app-star-rating>
      </a>

      <!-- Descrição -->
      <p class="product-info__desc">{{product.desc}}</p>

      <div class="divider"></div>

      <!-- Devolução -->
      <div class="devolution-section" id="id-area-devolucao">
        <i aria-hidden="true" class="fa fa-history"></i>
        <div>
          <strong class="devolution-section__title">Direito à devolução</strong><br>
          <span>Após receber o produto, você tem 7 dias úteis para solicitar sua devolução.</span><br>
          <a class="devolution-section__more-info">Mais informações</a>
        </div>
      </div>
    </div>

    <!-- Preço, meios de pagamento, cálculo de frete e botões principais -->
    <div class="col s12 m6 l4 xl4 shopping-section">

      <!-- Bandeira de desconto e preço sem desconto -->
      <div *ngIf="product.percentOff > 0" class="discount">
        <span class="discount__text">{{product.price | currency: 'BRL'}}</span>
        <span class="discount__flag">
          <i aria-hidden="true" class="fas fa-arrow-down"></i>
          {{product.percentOff | number: '1.0-2'}}%
        </span>
      </div>

      <span class="shopping-section-price">{{product.priceWithDiscount | currency: 'BRL'}}</span>

      <!-- Produto DISPONÍVEL -->
      <div *ngIf="product.amountAvailable > 0; else prodIndisponivel">

        <!-- Seção de meios de pagamento -->
        <div class="payments-section">
          <i aria-hidden="true" class="far fa-credit-card icon-money"></i>
          <div class="payments-section-text">
            <span class="payments-section__title">Meios de pagamento</span>
            <div class="payments-options">
              <img alt="" class="payments-options-pagseguro"
                   src="https://assets.pagseguro.com.br/ps-bootstrap/ccf/img/logos/pagbank/pagbank-logo-animado_35px@3x.gif">
              <i aria-hidden="true" class="fab fa-cc-paypal" style="color: #2b419f"></i>
              <i aria-hidden="true" class="fa fa-barcode" style="color: black"></i>
            </div>
            <a (click)="showModalPayments()" class="payments-section__more-info">
              Ver mais informações
            </a>
          </div>
        </div>

        <!-- Calcular frete -->
        <div class="shipping-section">
          <i aria-hidden="true" class="fa fa-truck"></i>

          <div *ngIf="!deliveryChosen; else currDelivery" class="shipping-section-text">
            <span class="shipping-section__title">Entrega em todo país!</span>
            <span>Clique abaixo para calcular prazo e custo.</span>
            <a (click)="showModalAdress()" class="shipping-section__more-info">Calcular frete</a>
          </div>

          <ng-template #currDelivery>
            <div class="shipping-section-text">
              <span>Custo de
                <span style="font-weight: 500">{{deliveryChosen.cost | currency: 'BRL'}}</span>
              </span>
              <span>Data prevista para entrega é:
                <span style="font-weight: 500">1 e 7 de fevereiro</span>
              </span>
              <a (click)="showModalAdress()" class="shipping-section__more-info">Ver opções de frete</a>
            </div>
          </ng-template>
        </div>

        <!-- Botões de Comprar e Add. ao Carrinho -->
        <button class="btn-general btn-general--full" color="primary" mat-raised-button>
          <i aria-hidden="true" class="fa fa-gift"></i>
          Comprar
        </button>

        <button (click)="prodInCart ? remFromCart(product.id) : addToCart(product.id)"
                class="btn-general btn-general--full" color="primary" mat-stroked-button>
          <i [ngClass]="prodInCart ? 'fa-shopping-cart' : 'fa-cart-plus'" aria-hidden="true" class="fas "></i>
          {{prodInCart ? 'Remover do' : 'Adicionar ao'}} Carrinho
        </button>
      </div>

      <!-- Produto INDISPONÍVEL -->
      <ng-template #prodIndisponivel>

        <!-- Aviso -->
        <div class="unavailable-section" id="id-aviso-indisp">
          <i aria-hidden="true" class="far fa-sad-cry smile-cry-icon"></i>
          <div>
            <span style="font-weight: 500;">Produto indisponível!</span><br>
            <span>
              No momento, não temos esse produto em estoque, para
              acompanhar quando estiver disponível, inscreva-se para ser notificado
              ou adicione-o em seus favoritos.
            </span><br>
          </div>
        </div>

        <button class="btn-general btn-general--full" color="primary" mat-raised-button>
          <i aria-hidden="true" class="far fa-envelope"></i>
          Avise quando chegar
        </button>

        <button class="btn-general btn-general--full btn--pink" mat-stroked-button>
          <i aria-hidden="true" class="far fa-heart"></i>
          Adicionar aos favoritos
        </button>
      </ng-template>
    </div>
  </div>

  <div class="divider"></div>

  <!-- Descrição -->
  <span class="section-title">Descrição</span>
  <p class="product-info__desc">{{product.desc}}</p>

  <div class="divider"></div>

  <!-- Avaliações -->
  <span class="section-title">Avaliações</span>
  <app-rating-list [ratings]="avaliacoes"></app-rating-list>
  <!-- TODO: Tornar o componente de paginação responsivo -->
  <app-paginacao [paginaAtual]="1" [qtdPags]="14"></app-paginacao>

  <div class="divider"></div>
</div>
<app-slider-product [list]="seqProd"></app-slider-product>
