@import '../../../../shared/styles/buttons';
@import '../../../../shared/styles/grid_materialize';
@import '../../../../shared/styles/mixins';
@import '../../../../shared/styles/placeholders';
@import '../../../../shared/styles/variables';
@import '../../../../styles';

$color-green: #00a650;

.main-container {
  display: grid;
  grid-row-gap: 70px;
  padding: 20px 15px;

  & > .col {
    padding: 0 15px;
  }

  @media (max-width: $width-max-small) {
    padding: 20px 0;
  }
}

.img-section {
  padding: 10px;
  text-align: center;

  .main-img {
    @include max-size(300px);
    width: auto;

    @media (max-width: $width-max-medium) {
      @include max-size(250px);
      width: auto;
    }
  }
}

.product {
  &__section {
    padding: 0 2px;
  }

  &-info {
    padding: 10px;

    &__title {
      @extend %color-text-prim;
      font-weight: 500;
      font-size: x-large;
      line-height: 1.25;
    }

    &__desc {
      color: $color-sec--dark;
      white-space: pre-wrap;
      text-align: justify;
    }
  }
}

.shopping-section {
  padding: 10px;
  max-width: 100%;

  &-price {
    @extend %color-text-prim;
    font-size: 28px;
  }

  .discount {
    @extend %center-vert-flex;
    margin-bottom: 10px;

    &__text {
      @extend %color-text-prim;
      text-decoration: line-through;
    }

    &__flag {
      margin-left: 5px;
      background: limegreen;
      font-size: small;
      color: white;
      padding: 0 4px;
      border-radius: 3px
    }
  }

  .btn-general--full {
    margin-top: 15px;
  }

  .btn--pink {
    color: deeppink;
    border-color: deeppink;
  }
}

.shipping-section {
  @extend %center-vert-flex;

  .fa-truck {
    padding-right: 20px;
    font-size: 22px;
    @extend %color-text-prim;
  }

  &-text {
    line-height: 1.5;
    display: grid;

    span, strong {
      @extend %color-text-prim;
    }
  }

  &__more-info {
    @extend %text--link;
  }

  &__title {
    @extend %color-text-prim;
    font-weight: 500;
  }
}

.payments-section {
  @extend %center-vert-flex;
  padding: 15px 0;

  .icon-money {
    padding-right: 20px;
    font-size: 22px;
    @extend %color-text-prim;
  }

  &-text {
    display: grid;

    .payments-options {
      @extend %center-vert-flex;
      justify-content: space-between;
      font-size: 22px;
      padding: 8px 0 5px;

      &-pagseguro {
        max-height: 18px;
      }
    }
  }

  &__more-info {
    @extend %text--link;
  }

  &__title {
    @extend %color-text-prim;
    font-weight: 500;
  }
}

.message-section {
  .fa-history {
    color: white;
    background-color: $color-green;
  }

  .smile-cry-icon {
    font-size: 30px;
  }
}

.section-title {
  display: flex;
  align-items: center;

  .btn-general {
    margin-left: 20px;
  }

  @media (max-width: $width-max-small) {
    justify-content: space-between;

    .btn-general {
      width: auto;
      margin: 0;
    }
  }
}
