<!-- TODO: Realizar binding com as rotas -->
<ul id="slide-out" class="sidenav barra-rolagem">
  <li>
    <div class="area-info_usuario">

      <!-- Área de imagem avatar, nome e email -->
      <div class="cabecalho-dados_pessoais black-text">

        <div class="area-avatar">
          <a href="www.google.com">
            <img *ngIf="!!usuario.avatarUrl" alt="Imagem de perfil de '{{usuario.nome}}'"
                 class="img-avatar" src="{{usuario.avatarUrl}}">
            <i *ngIf="!usuario.avatarUrl" aria-hidden="true" class="fas fa-user-circle icone-avatar"></i>
          </a>

        </div>

        <div class="area-info_nome_email">
          <span class="texto-nome">{{usuario.nome}}</span><br>
          <span class="email">{{usuario.email}}</span>
        </div>
      </div>

    </div>
  </li>


  <!-- Área pessoal ("Minha conta") -->
  <li>
    <div class="divider" style="margin: 0"></div>
  </li>

  <!-- Opção "Meu perfil" -->
  <li>
    <a class="waves-effect darken-4 texto-opcao_menu" href="#!">
      <i aria-hidden="true" class="fas fa-user-cog icone"></i>Meu perfil
    </a>
  </li>

  <!-- Opção "Suas compras" -->
  <li>
    <a class="waves-effect darken-4 texto-opcao_menu" href="#!">
      <i aria-hidden="true" class="fas fa-shopping-basket icone"></i>Suas compras
    </a>
  </li>

  <!-- Opção "Histórico de Atividades" -->
  <li>
    <a class="waves-effect darken-4 texto-opcao_menu" href="#!">
      <i aria-hidden="true" class="fas fa-history icone"></i>Histórico de atividades</a>
  </li>

  <!-- Opção "Segurança" -->
  <li>
    <a class="waves-effect darken-4 texto-opcao_menu" href="#!">
      <i aria-hidden="true" class="fas fa-shield-alt icone"></i>Segurança
    </a>
  </li>


  <!-- TODO: Validar permissões e perfis para acessar cada opção abaixo -->
  <!-- Área administrativa -->
  <li>
    <div class="divider"></div>
  </li>

  <!-- Opção "Gerenciar categorias" -->
  <li>
    <a class="waves-effect darken-4 texto-opcao_menu" href="#!">
      <i aria-hidden="true" class="fas fa-tags icone"></i>Gerenciar categorias
    </a>
  </li>

  <!-- Opção "Gerenciar Produtos" -->
  <li>
    <a [routerLink]="routeProductsManager" class="waves-effect darken-4 texto-opcao_menu">
      <i aria-hidden="true" class="fas fa-box-open icone"></i>Gerenciar produtos
    </a>
  </li>

  <!-- Opção "Gerenciar dúvidas" -->
  <li>
    <a class="waves-effect darken-4 texto-opcao_menu" href="#!">
      <i aria-hidden="true" class="fas fa-comments icone"></i>Gerenciar dúvidas
    </a>
  </li>

  <!-- Opção "Gerenciar usuários" -->
  <li>
    <a class="waves-effect darken-4 texto-opcao_menu" href="#!">
      <i aria-hidden="true" class="fas fa-users-cog icone"></i>Gerenciar usuários
    </a>
  </li>

  <!-- Opção "Visualizar pedido" -->
  <li>
    <a class="waves-effect darken-4 texto-opcao_menu" href="#!">
      <i aria-hidden="true" class="fas fa-file-signature icone"></i>Visualizar pedido
    </a>
  </li>

  <!-- Opção "Visualizar relatórios" -->
  <li>
    <a class="waves-effect darken-4 texto-opcao_menu" href="#!">
      <i aria-hidden="true" class="fas fa-chart-bar icone"></i>Visualizar relatórios
    </a>
  </li>

  <!-- Opção "Personalizar loja" -->
  <li>
    <a class="waves-effect darken-4 texto-opcao_menu" href="#!">
      <i aria-hidden="true" class="fas fa-pen-fancy icone"></i>Personalizar loja
    </a>
  </li>

  <li><div class="divider"></div></li>

  <li>
    <a class="waves-effect darken-4 texto-opcao_menu" href="#!">
      <i aria-hidden="true" class="fas fa-sign-out-alt icone"></i>Sair
    </a>
  </li>

</ul>

<a data-target="slide-out" id="btn-trigger" class="sidenav-trigger"
   style="display: none"></a>
