@import "../../shared/shared";

$alt-barra_busca: 56px;

.display-flex_just-center_align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#barra-busca {
  position: fixed;
  z-index: 2;
  width: 100%;
  margin-top: 70px;
}

.nav-busca {
  height: $alt-barra_busca;
  background-color: #e4e4e4;
  @extend .display-flex_just-center_align-center;
}

.form-busca {
  height: auto;
  @extend .display-flex_just-center_align-center;
}

.input-busca {
  @extend .display-flex_just-center_align-center;
  height: 35px !important;
  margin: 0 20px !important;
  padding: 0 20px !important;
}

.input-busca--radius {
  @extend .input-busca;
  max-width: 55%;
  border-radius: 25px !important;
  box-shadow: 0 0 6px rgba(159, 159, 159, 0.5) !important;
}

.input-busca--radius:focus {
  outline: none !important;
  border-color: #9ecaed !important;
  box-shadow: 0 0 8px #9ecaed !important;
}

.btn-circ--blue {
  @include btn-circle--blue(35px, 35px);
}

.btn-circ--red {
  @include btn-circle--red(35px, 35px);
}

.btn-circ--green {
  @include btn-circle--green(35px, 35px);
}


.bloco-descida {
  animation: fade 0.5s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
