@import "../../../shared/shared";

$alt-barra_busca: 48px;
$var-padding-lateral-input: 10px;

.input-busca {
  width: calc(100% - 20px) !important;
  max-width: 600px - 2*$var-padding-lateral-input !important;
  height: 35px !important;

  padding: 0 $var-padding-lateral-input !important;
  border-color: white !important;
  border-radius: 5px !important;
  margin-bottom: 0 !important;
}

.input-busca:focus {
  outline: none !important;
  border-color: white !important;
  box-shadow: none !important;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
