@import "../../shared/shared";

$altura-banner: 250px;

.rodape-background {
  width: 100%;
  height: $altura-banner;
  background-image: radial-gradient(#2d2d2d, black);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 125px;
}

.img-area {
  display: flex;
  justify-content: center;
}

.img-central {
  position: absolute;
  width: auto;
  max-height: 95%;
}
