@import "../../shared/shared";

$altura-banner: 200px;

.area-rodape {
  width: 100%;
  min-height: $altura-banner;
  height: auto;
  background-image: radial-gradient(#2d2d2d, black);
  justify-content: center;
  align-items: flex-end;
  margin-top: 120px;
  padding-top: 100px;
}

.img-area {
  display: flex;
  justify-content: center;
}

.img-central {
  position: absolute;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
}

.texto {
  color: white;
  text-align: center;
  line-height: 2;
  text-shadow: 1px 1px 3px black;
  font-size: medium;
}

.lista-col-links {
  display: flex;
  justify-content: center;
}

.col {
  margin: 0 20px;
  @extend .texto;
}

.col-links-important {
  margin: 0 !important;
}

.lista-links {
  @extend .col;
  font-size: small;
}

.link {
}

.link:hover {
  transition: color 500ms;
  color: white;
  font-weight: bold;
}

.titulo-col_links {
  color: white;
  text-align: center;
  font-weight: bold;
}

.icone-midia_social {
  padding: 0 12px;
  font-size: x-large;
  transition: all 400ms ease-in-out;
}

.icone-facebook {
  @extend .icone-midia_social;
  color: #4267b2;
}

.icone-twitter {
  @extend .icone-midia_social;
  color: #1da1f2;
}

.icone-insta {
  @extend .icone-midia_social;
  color: #f20e89;
}

.icone-github {
  @extend .icone-midia_social;
  color: gray;
}

.col-midias_sociais {
  @extend .col;
  min-height: 75px;
}

.col-direitos_autorais {
  @extend .col;
}

.icone-midia_social:hover {
  transform: rotate(360deg);
  font-size: xx-large;
  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 199, 242, 0.75));
}
