@import '../../shared/shared';

.area-dialogo {
  display: block;
  justify-content: center;
  text-align: center;
  padding: $val-padding-area-form;
}

.icone--circ {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;

  background-color: $val-cor-prim;
  color: $val-cor-texto-prim;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);

  i {
    font-size: xx-large;
  }
}

.area-titulo {
  text-transform: uppercase;
}

.area-form {
  padding-top: 10px;
  width: 100%;
}
