<div class="page-container">
  <div class="page col s12 m10 l8 xl8">
    <p class="page__title">
      <i aria-hidden="true" class="fas fa-lock" style="margin-right: 10px"></i>
      Ops!
    </p>
    <p class="page__desc">
      <span>Você não possui acesso a essa página.</span>
      <strong style="display: block">:|</strong>
    </p>
    <p class="page__redirect">
      <a [routerLink]="['/' + routes.productsView]" class="page__redirect--link">
        Mas tem essa com nossas promoções maravilhosas! \o/
      </a>
    </p>
  </div>
</div>
