.modal-content {
  text-align: center;
}

.modal {

  @media (min-width: 600px) {
    max-width: 75%;
  }

  @media (min-width: 750px) {
    max-width: 65%;
  }

  @media (min-width: 992px) {
    max-width: 60%;
  }

  @media (min-width: 1200px) {
    max-width: 45%;
  }
}
