<h4 class="titulo-pagina" style="margin: 0 0 1em 0;">Histórico de Compras</h4>

<div *ngIf="orders$" id="area-lista-compra" style="display: flex">
  <ul class="col s12 m10 l10 xl10 center-block">
    <li *ngFor="let order of orders$ | async" class="area-compra">

      <!-- Linha com a cor que indica status da compra -->
      <div class="borda-compra-status {{states[order.state]}}"></div>

      <div class="box-compra">

        <!-- Área de status -->
        <div class="area-compra-estado">
          <div class="texto-compra-status {{states[order.state]}}">
            <strong>Estado: </strong>
            <span>{{states[order.state]}}</span>
          </div>

          <div class="texto-data-acao">
            <strong>Data da ação: </strong>
            <span>{{order.date | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>

        <!-- Área contendo os ícones dos produtos e o contador -->
        <div class="area-prod-icones">

          <!-- Área de cada produto -->
          <div *ngFor="let itemOrder of order.items" [title]="itemOrder.product?.title"
               class="area-prod-icone">
            <div class="prod-icone--circ">
              <img [alt]="itemOrder.product?.title" [src]="itemOrder.product?.urlMainImage">
            </div>
          </div>

          <!-- Contador para mais de 3 produtos -->
          <div *ngIf="order.items.length > 3">
            <a class="contador-itens">
              <span>+{{order.items.length - 3}} Produto(s)</span>
            </a>
          </div>
        </div>

        <!-- Área com a data da compra e custos de frete e produtos -->
        <div class="area-info-compra">
          <p>
            <strong>Data da compra: </strong>
            <span>{{order.date | date: fmtTimestamp}}</span>
          </p>
          <p>
            <strong>Preço dos produtos: </strong>
            <span>{{order.costItems | currency: 'BRL'}}</span>
          </p>
          <p>
            <strong>Custo de entrega: </strong>
            <span>{{order.costDelivery | currency: 'BRL'}}</span>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
