<app-modal-mat (action)="saveAddress()"
               (closed)="closed.emit()"
               [actionDisabled]="addressFormGroup.invalid"
               [btnAcceptTitle]="btnActionTitle" [btnCancelTitle]="btnCancelTitle"
               [modalDesc]="desc" [modalTitle]="title">
  <form [formGroup]="addressFormGroup" class="address-form">

    <!-- CEP -->
    <mat-form-field class="col s6">
      <mat-label>CEP <span style="color: red">*</span></mat-label>
      <input (input)="formatCEP($event.target)" [max]="sizes.zipCodeMax"
             aria-label="Number" formControlName="zipCode" matInput type="text">
      <mat-hint>Digite somente os digítos. Ex: 29264699</mat-hint>
      <mat-error *ngIf="addressFormGroup.controls['zipCode'].invalid">
        {{getMsg(addressFormGroup.controls['zipCode'], '29161699')}}
      </mat-error>
    </mat-form-field>

    <!-- Estados -->
    <mat-form-field class="col s6">
      <mat-label>Estado <span style="color: red">*</span></mat-label>
      <input [matAutocomplete]="auto" [max]="2" aria-label="Number"
             formControlName="state" matInput type="text">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.initials">
          {{state.initials}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="addressFormGroup.controls['state'].invalid">
        {{getMsg(addressFormGroup.controls['state'], '29161699')}}
      </mat-error>
    </mat-form-field>

    <!-- Cidade -->
    <mat-form-field class="col s12">
      <mat-label>Cidade <span style="color: red">*</span></mat-label>
      <input #city [maxLength]="sizes.cityMax" formControlName="city" matInput type="text">
      <mat-hint align="end">{{city.value.length}} / {{sizes.cityMax}}</mat-hint>
      <mat-error *ngIf="addressFormGroup.controls['city'].invalid">
        {{getMsg(addressFormGroup.controls['city'])}}
      </mat-error>
    </mat-form-field>

    <!-- Bairro -->
    <mat-form-field class="col s12">
      <mat-label>Bairro <span style="color: red">*</span></mat-label>
      <input #neighborhood [maxLength]="sizes.neighborhoodMax"
             formControlName="neighborhood" matInput type="text">
      <mat-hint align="end">{{neighborhood.value.length}} / {{sizes.neighborhoodMax}}</mat-hint>
      <mat-error *ngIf="addressFormGroup.controls['neighborhood'].invalid">
        {{getMsg(addressFormGroup.controls['neighborhood'])}}
      </mat-error>
    </mat-form-field>

    <!-- Logradouro -->
    <mat-form-field class="col s12">
      <mat-label>Logradouro <span style="color: red">*</span></mat-label>
      <input #street [maxLength]="sizes.streetMax" formControlName="street" matInput type="text">
      <mat-hint align="end">{{street.value.length}} / {{sizes.streetMax}}</mat-hint>
      <mat-error *ngIf="addressFormGroup.controls['street'].invalid">
        {{getMsg(addressFormGroup.controls['street'])}}
      </mat-error>
    </mat-form-field>

    <!-- Número -->
    <mat-form-field class="col s6">
      <mat-label>Número <span style="color: red">*</span></mat-label>
      <input (input)="formatNumber($event.target)" [max]="sizes.numberMax"
             [min]="sizes.numberMin" formControlName="number" matInput type="number">
      <mat-error *ngIf="addressFormGroup.controls['number'].invalid">
        {{getMsg(addressFormGroup.controls['number'], '13')}}
      </mat-error>
    </mat-form-field>
  </form>
</app-modal-mat>
