<div class="col s12">
  <div class="input-field col s12">
    <input value="Alvin" id="form-nome" type="text" class="validate">
    <label class="active" for="form-nome">Nome</label>
  </div>

  <div class="input-field col s12">
    <input value="cleiton@gmail.com" id="form-email" type="email" class="validate">
    <label class="active" for="form-email">Email</label>
  </div>

  <div class="input-field col s12">
    <input value="(27) 99885-5521" id="form-telefone" type="tel"
           class="validate" pattern="[0-9]{2}-[0-9]{4}-[0-9]{4}">
    <label class="active" for="form-telefone">Telefone</label>
  </div>

  <div class="input-field col s12">
    <input value="Alvin" id="form-senha" type="password" class="validate">
    <label class="active" for="form-senha">Senha</label>
  </div>

  <div class="input-field col s12">
    <input value="Alvin" id="form-confirmar-senha" type="password" class="validate">
    <label class="active" for="form-confirmar-senha">Confirmação de senha</label>
  </div>

  <div style="text-align: center">
    <a class="waves-effect waves-light btn grey btn-prim">
      <i aria-hidden="true" class="fas fa-paper-plane"></i>
      Confirmar
    </a>
  </div>
</div>
