@import '../../../../shared/styles/grid_materialize';
@import '../../../../shared/styles/mixins';
@import '../../../../shared/styles/placeholders';
@import '../../../../shared/styles/scrollbar';
@import '../../../../shared/styles/variables';

$_margin-top_footer: 20px;
$_margin-bot_header: 16px;
$_padd-box: 24px;

.modal__desc {
  font-size: medium;
  @extend %color-text-prim;
}

@include scrollbar-custom();
.modal__content {
  max-height: calc(
    98vh - 2 * #{$_padd-box} - var(--header-height) - #{$_margin-top_footer}
    - var(--footer-height) - #{$_margin-bot_header}
  );
  overflow: auto;
  text-align: justify;
}

.modal__footer {
  justify-content: flex-end;
  align-items: center;
  margin-top: var(--footer-margin-top);

  .actions__button:focus {
    background-color: rgba(lightgrey, .5);
  }
}
