
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.btn--big-center {
  font-size: 1rem;
  margin: 0 auto;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid white;
  border-top-color: transparent;
  animation: spinner .8s linear infinite;
}
