@mixin effect-ripple-gray($color-wave) {
  $opacity-color: 0.08;
  background-position: center;
  transition: background 0.8s;

  &:hover {
    background: radial-gradient(circle, transparent 1%, rgba($color-wave, $opacity-color) 1%) center/15000%;
  }
  &:active {
    background-size: 100%;
    transition: background 0s;
  }
}

@mixin effect-ripple($color-wave) {
  $opacity-color: 0.08;
  background-position: center;
  transition: background 1s;

  &:hover {
    background: radial-gradient(circle, black 1%, rgba($color-wave, $opacity-color) 1%) center/15000%;
  }
  &:active {
    background-size: 100%;
    transition: background 0s;
  }
}

// Ripple animation
@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: .24;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

/*Crédito a: https://codepen.io/sajran/pen/Wwyjwa*/
.ripple {
  overflow: hidden;
  will-change: transform;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: currentColor;
    visibility: hidden;
  }

  &:not(:active):before {
    animation: ripple .5s cubic-bezier(0, 0, .2, 1);
    transition: visibility .5s step-end;
  }

  &:active:before {
    visibility: visible;
  }
}
