@import 'variables';

.title-page {
  color: $color-prim;
  font-size: x-large;
  font-weight: 500;
}

.title-page-w-border {
  color: $color-prim--light;
  font-size: x-large;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 15px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: $color-prim--light;
    width: 100%;
    max-width: 320px;
    height: 4px;
    left: 0;
    right: 0;
    bottom: -16px;
    margin: 0 auto;
  }
}
