@import 'variables';

.title-page {
  color: $color-prim;
  font-size: x-large;
  font-weight: 500;
}

.text-rounded {
  width: fit-content;
  border-radius: 20px;
  background: dimgray;
  text-rendering: optimizeLegibility;
  color: white;
  font-weight: 400;
  position: relative;
  padding: 3px 10px;
}

.title-page-w-border-radius {
  display: block;
  width: fit-content;
  border-radius: 20px;
  background: dimgray;
  text-rendering: optimizeLegibility;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 25px auto 15px;
  position: relative;
  padding: 8px 16px;
}

.title-page-w-border {
  color: $color-prim--light;
  font-size: x-large;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: $color-prim--light;
    width: 100%;
    max-width: 320px;
    height: 3px;
    left: 0;
    right: 0;
    bottom: -11px;
    margin: 0 auto;
  }
}

.text--with-bg {
  color: white;
  background-color: dodgerblue;
  padding: 3px 10px;
  border-radius: 18px;
}
