@import 'variables';

%base_model_block {
  box-shadow: 2px 3px 7px rgba(black, .07);
  border: 1px solid $block-border-color;
  border-radius: 5px;
  padding: 15px 10px;
}

%center-absolute {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%center-grid {
  display: grid;
  justify-items: center;
  align-items: center;
}

%center-flex-space-betw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%center-vert-flex {
  display: flex;
  align-items: center;
}

%center-horiz-flex {
  display: flex;
  justify-content: center;
}

%flex-col {
  display: flex;
  flex-flow: column;
}

%flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

%color-text-prim--light {
  color: $color-prim--light;
}

%color-text-prim {
  color: $color-prim;
}

%color-text-prim--dark {
  color: $color-prim--dark;
}

%color-text-sec--light {
  color: $color-sec--light;
}

%color-text-sec {
  color: $color-sec;
}

%color-text-sec--dark {
  color: $color-sec--dark;
}


%text-shorten {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%text--link {
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
}

%divider {
  @extend %center-horiz-flex;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.12);
  content: '';
}
