@import 'variables';

%center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%center-flex-space-betw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%center-vert-flex {
  display: flex;
  align-items: center;
}

%center-horiz-flex {
  display: flex;
  justify-content: center;
}

%flex-col {
  display: flex;
  flex-flow: column;
}


%color-text-prim--light {
  color: $color-prim--light;
}

%color-text-prim {
  color: $color-prim;
}

%color-text-prim--dark {
  color: $color-prim--dark;
}

%color-text-sec--light {
  color: $color-sec--light;
}

%color-text-sec {
  color: $color-sec;
}

%color-text-sec--dark {
  color: $color-sec--dark;
}


%text-shorten {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%text--link {
  color: $link-color;
  cursor: pointer;
}

%divider {
  @extend %center-horiz-flex;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.12);
  content: '';
}
