@mixin state($colored, $bg-color) {

  &::before {
    content: '';
    //width: 100%;
    //height: 100%;
    position: absolute;
    background: $bg-color;
    opacity: 0;
  }

  &:not(:disabled):hover::before {
    $percent-hover: 4%;
    @if $colored {
      $percent-hover: 8%
    }
    opacity: $percent-hover;
  }

  &:not(:disabled):focus::before {
    $percent-focus: 12%;
    @if $colored {
      $percent-focus: 24%
    }
    opacity: $percent-focus;
  }

  &:not(:disabled):active::before {
    $percent-active: 12%;
    @if $colored {
      $percent-active: 24%
    }
    opacity: $percent-active;
  }

  &::selection::before {
    $percent-select: 8%;
    @if $colored {
      $percent-select: 16%
    }
    opacity: $percent-select;
  }

  &:disabled {
    user-select: none;
  }
}

@mixin state--colored($color) {
  @include state(true, $color);
}

%state--colored {
  @include state(true, white);
}

%state--grey-scale {
  @include state(false, black);
}
