$val-margin-campo-btn: 40px;
$val-padding-area-form: 20px;

$link-color: dodgerblue;
$link-color--hover: white;
$link-color--inactive: #80c4ff;

$color-prim: #212121;
$color-prim--dark: black;
$color-prim--light: #484848;

$color-sec: #9e9e9e;
$color-sec--dark: #707070;
$color-sec--light: #cfcfcf;

$text-color-prim: white;
$text-color-sec: black;

$shadow-color: lightgrey;
$block-border-color: #ccc;

$width-max-x-small: 480px;
$width-max-small: 600px;
$width-max-medium: 992px;
$width-max-large: 1200px;
