@import '../../../shared/styles/general';
@import '../../../shared/styles/grid_materialize';
@import '../../../shared/styles/placeholders';
@import '../../../shared/styles/variables';

.main {
  @extend %center-flex-space-betw;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px 20px;

  .back {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 280px;
    background-color: #eee;
  }

  .text-img-section {
    @extend %center-vert-flex;

    img {
      max-width: 280px;
      filter: drop-shadow(1px 2px 4px rgba(black, .25));
    }

    .text-section {
      @extend %color-text-prim--light;
      z-index: 1;
      padding-right: 20px;

      .title-page-w-border {
        font-size: large;

        &::after {
          bottom: -10px;
        }
      }

      .benefits {
        line-height: 1.75;
        margin-top: 20px;
        font-size: medium;
      }
    }
  }

  .form-section {
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    min-height: 450px;
    box-shadow: 2px 3px 15px rgba(black, 0.2);

    &__tab-content {
      @extend %center-flex;
      text-transform: uppercase;
      padding: 20px;

      i {
        font-size: large;
        margin-right: 10px;
      }
    }
  }
}
