@import '../../../../shared/styles/grid_materialize';
@import '../../../../shared/styles/placeholders';
@import '../../../../shared/styles/variables';

@mixin _btn--circ($color-hex) {
  background-color: $color-hex;

  &:hover {
    background-color: rgba($color-hex, 0.7);
  }
}

.form-login {
  @extend %flex-col;
  background-color: white;
  padding: 20px;

  .btn-general {
    margin: 15px 0;
  }

  .social-media {
    @extend %flex-col;
    text-align: center;

    &__title {
      @extend %color-text-prim--light;
      margin: 15px;
    }

    .btn-color {
      font-size: large;

      &--facebook {
        @include _btn--circ($color-facebook);
      }

      &--google {
        @include _btn--circ($color-google);
      }

      &--twitter {
        @include _btn--circ($color-twitter);
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
