@import '../../../../shared/styles/mixins';

.review-form {
  display: grid;

  &__field {
    margin-bottom: 20px;
  }
}

.slide {
  &__figure {
    text-align: center;

    &-img {
      @include max-size(128px);
    }
  }
}
