<app-modal-mat (action)="saveReview()" (closed)="closed.emit()"
               [actionDisabled]="reviewFormGroup.invalid"
               [btnAcceptTitle]="btnActionTitle" [btnCancelTitle]="btnCancelTitle"
               [modalDesc]="modalDesc" [modalTitle]="modalTitle">
  <div class="product">
    <figure class="product__figure">
      <img [alt]="data.product.title" [src]="data.product.urlMainImage" class="product__figure-img">
      <figcaption>{{data.product.title}}</figcaption>
    </figure>
  </div>
  <form [formGroup]="reviewFormGroup" class="review-form">

    <!-- Nota -->
    <div class="review-form__field">
      <mat-label>Nota <span style="color: red">*</span></mat-label>
      <app-star-rating (valueSelected)="reviewFormGroup.controls['rating'].setValue($event)"
                       [align]="'center'" [fontSize]="25" [interactive]="true" [maxStars]="5"
                       [startValue]="reviewFormGroup.controls['rating'].value">
      </app-star-rating>
    </div>

    <!-- Título -->
    <mat-form-field class="review-form__field">
      <mat-label>Título <span style="color: red">*</span></mat-label>
      <input #title [maxLength]="sizes.titleMax" formControlName="title" matInput type="text">
      <mat-hint align="start">Escreva uma frase que resuma sua avaliação</mat-hint>
      <mat-hint align="end">{{title.value.length}} / {{sizes.titleMax}}</mat-hint>
      <mat-error *ngIf="reviewFormGroup.controls['title'].invalid">
        {{getMsg(reviewFormGroup.controls['title'])}}
      </mat-error>
    </mat-form-field>

    <!-- Comentário -->
    <mat-form-field class="review-form__field">
      <mat-label>Comentário <span style="color: red">*</span></mat-label>
      <textarea #autosize="cdkTextareaAutosize" #comment [maxLength]="sizes.commentMax"
                cdkAutosizeMaxRows="15" cdkAutosizeMinRows="2" cdkTextareaAutosize
                formControlName="comment" matInput>
      </textarea>
      <mat-hint align="end">{{comment.value.length}} / {{sizes.commentMax}}</mat-hint>
      <mat-error *ngIf="reviewFormGroup.controls['comment'].invalid">
        {{getMsg(reviewFormGroup.controls['comment'])}}
      </mat-error>
    </mat-form-field>
  </form>
</app-modal-mat>
