@import '../shared/styles/placeholders';

.body-content {
  @extend %center-flex;
}

.area-utilizavel {
  width: calc(100% - 40px);
  max-width: 100%;
  margin: 0 20px;
  overflow: hidden;

  .area-componente {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    width: 100% !important;
  }
}

* {
  color: red;
}

::ng-deep input[type="number"] {
  display: block;
  text-align: right;
}
