@import '../shared/styles/placeholders';

.body-content {
  @extend %center-horiz-flex;
  align-items: flex-start;
}

.body-inner {
  width: calc(100% - 40px);
  max-width: 100%;
  margin: 0 20px;
  overflow: hidden;
}

* {
  color: red;
}

::ng-deep input[type="number"] {
  display: block;
  text-align: right;
}
