<div class="main-container">
  <div class="caption">Total de {{lengthPages}} página(s)</div>
  <div class="numbers">
    <a (click)="selectPage(pageStart - 1)" *ngIf="lengthPages > 1"
       [ngClass]="{'disabled': !showButtonPrevius(pageStart)}"
       class="numbers__button" title="Anterior">
      <i aria-hidden="true" class="fas fa-chevron-left"></i>
    </a>

    <a (click)="selectPage(i)" *ngFor="let i of indexPages"
       [ngClass]="{'selected': i == pageStart}" class="numbers__button">{{i}}
    </a>

    <a (click)="selectPage(pageStart + 1)" *ngIf="lengthPages > 1"
       [ngClass]="{'disabled': !showButtonNext(pageStart, lengthPages)}"
       class="numbers__button" title="Próxima">
      <i aria-hidden="true" class="fas fa-chevron-right"></i>
    </a>
  </div>
</div>
