<app-slider-base [optionsGlide]="optionsGlide" [showBullets]="false"
                 [sliderLength]="list.items.length">
  <li *ngFor="let item of list.items" class="glide__slide">
    <div class="market">

      <!-- LOGO DA LOJA -->
      <a [href]="item.url" class="market__logo" title="Logo da loja {{item.name}}">
        <img [src]="item.logoImgUrl" alt="Logo da loja {{item.name}}}"
             class="market__logo-img">
      </a>

      <!-- BACKGROUND DA LOJA -->
      <div [style.backgroundImage]="'url('+ item.imageUrl +')'"
           [title]="item.name" class="market__back">
      </div>

      <!-- LINK PARA LOJA -->
      <a [href]="item.url" class="market__info">{{item.name}}</a>
    </div>
  </li>
</app-slider-base>
