<div class="components">
  <!-- TODO: Tornar o conteúdo dinâmico -->
  <div *ngFor="let listSlides of listsSlides$ | async" class="sequence">
    <span class="title-page-w-border-radius">{{listSlides.title}}</span>
    <app-slider-master [slider]="listSlides" style="width: 100%;"></app-slider-master>
  </div>

  <!--<div class="area-componente">-->
  <!--  <app-lista-cartao *ngFor="let listaCartao of cartoes"-->
  <!--                    [listaCartoes]="listaCartao" style="width: 100%">-->
  <!--  </app-lista-cartao>-->
  <!--</div>-->

  <div *ngFor="let listConfig of listsProducts" class="sequence">
    <span class="title-page-w-border-radius">{{listConfig.list.title}}</span>
    <app-slider-product [listConfig]="listConfig" style="width: 100%; max-height: 300px"></app-slider-product>
  </div>

  <div *ngFor="let listMarket of listsMarkets$ | async" class="sequence">
    <span class="title-page-w-border-radius">{{listMarket.title}}</span>
    <app-slider-market [list]="listMarket" style="width: 100%"></app-slider-market>
  </div>
</div>
