<div class="components">
  <!-- TODO: Tornar o conteúdo dinâmico -->
  <div class="sequence" *ngFor="let listSlides of listsSlides$ | async">
    <app-slider-master [slider]="listSlides" style="width: 100%;"></app-slider-master>
  </div>

  <!--<div class="area-componente">-->
  <!--  <app-lista-cartao *ngFor="let listaCartao of cartoes"-->
  <!--                    [listaCartoes]="listaCartao" style="width: 100%">-->
  <!--  </app-lista-cartao>-->
  <!--</div>-->

  <div class="sequence" *ngFor="let listProd of listsProducts$ | async">
    <span class="title-page-w-border">{{listProd.title}}</span>
    <app-slider-product [list]="listProd" style="width: 100%"></app-slider-product>
  </div>

  <div class="sequence" *ngFor="let listMarket of listsMarkets$ | async">
    <span class="title-page-w-border">{{listMarket.title}}</span>
    <app-slider-market [list]="listMarket" style="width: 100%"></app-slider-market>
  </div>
</div>
