@import '../../../shared/styles/general';
@import '../../../shared/styles/placeholders';

.components {
  @extend %flex-col;
  margin: 20px 0;

  .sequence {
    display: contents;
  }

  .title-page-w-border {
    text-align: center;
    margin: 30px 0 18px;
  }
}
