<app-slider-base [optionsGlide]="optionsGlide" [showBullets]="false"
                 [sliderLength]="list.items.length">
  <li *ngFor="let item of list.items" style="display: flex">
    <a [routerLink]="['/' + routes.productsView, item.id]" class="product glide__slide">

      <!-- Etiqueta de desconto -->
      <span *ngIf="item.percentOff > 0" class="product__label-promo">
        {{item.percentOff | number: '1.0-2'}}%
        <i aria-hidden="true" class="fas fa-arrow-down"></i>
      </span>

      <!-- Titulo do produto -->
      <span class="product__title">{{item.title}}</span>

      <img [alt]="item.title" [src]="item.urlImage" class="product__cover-img">

      <!-- Área para preços de produtos em promoção -->
      <span *ngIf="item.percentOff > 0" class="product__price-orig">{{item.price | currency: 'BRL'}}</span>
      <span class="product__price">{{item.priceWithDiscount | currency: 'BRL'}}</span>
    </a>
  </li>
</app-slider-base>
