<app-slider-base [options]="sliderOptions" style="max-height: inherit;">
  <div *ngFor="let item of listConfig.list.items" class="swiper-slide">
    <a [ngClass]="{'product--small': listConfig.size === 'small'}" [routerLink]="fnGetUrlProduct(item.id)"
       class="product">

      <!-- Etiqueta de desconto -->
      <span *ngIf="item.percentOff > 0" class="product__label-promo">
        {{item.percentOff | number: '1.0-2'}}%
        <i aria-hidden="true" class="fas fa-arrow-down"></i>
      </span>

      <!-- Titulo do produto -->
      <span class="product__title">{{item.title}}</span>

      <img [alt]="item.title" [src]="item.urlMainImage" class="product__cover-img">

      <!-- Área para preços de produtos em promoção -->
      <span *ngIf="item.percentOff > 0" class="product__price-orig">{{item.price | currency: 'BRL'}}</span>
      <span class="product__price">{{item.priceWithDiscount | currency: 'BRL'}}</span>
    </a>
  </div>
</app-slider-base>
