<div class="cart-container">
  <div class="product-list row">
    <div *ngFor="let prod of productsChosen" class="product-list__item col s12 m12 l12 xl12">
      <div class="col s12 m3 l2 xl2 product__img-block">
        <img [alt]="prod.title" [src]="prod.urlImage" class="product__img">
      </div>

      <div class="col s12 m9 l10 xl10 text-section">
        <!-- Título e desconto -->
        <div class="col s12 m12 l8 xl8 product-list__item-title-desc">
          <span class="product__name col">{{prod.title}}</span>

          <!-- Quantidade, frete grátis e desconto -->
          <div class="product__info col">
            <span [ngClass]="{'text-red': prod.amountAvailable < 10}"
                  class="product__attr col xs7 s5 m4 l3 xl3">
              <i aria-hidden="true" class="fas fa-cubes product__attr-icon"></i>
              {{prod.amountAvailable}} disponíveis
            </span>
            <span *ngIf="prod.freeDelivery" class="product__attr col xs5 s4 m3 l3 xl2">
              <i aria-hidden="true" class="fas fa-truck product__attr-icon" style="font-size: 14px"></i>
              frete grátis
            </span>
            <span *ngIf="prod.percentOff > 0" class="product__attr col xs4 s3 m3 l3 xl2">
              <i aria-hidden="true" class="fas fa-dollar-sign product__attr-icon"></i>
              {{prod.percentOff | number: '1.0-2'}}% off
            </span>
          </div>
        </div>

        <!-- Preço e contador de unidades -->
        <div class="col s12 m12 l4 xl4 section_price_counter">
          <span class="product__price">
            {{prod.priceWithDiscount * prodAmount.get(prod) | currency: 'BRL'}}
            <span [hidden]="prodAmount.get(prod) < 2" class="product__price-amount">
              {{prod.priceWithDiscount | currency: 'BRL'}}
              <i aria-hidden="true" class="fa fa-times"></i>
              {{prodAmount.get(prod)}}
            </span>
          </span>
          <app-input-number (outValue)="changeAmount(prod, $event)"
                            [maxValue]="prod.amountAvailable" [minValue]="1">
          </app-input-number>
        </div>

        <!-- Ações de favoritar, remover do carrinho -->
        <div class="cart-actions col s12">
          <a class="cart-actions__favorite">
            <i aria-hidden="true" class="fa fa-heart action-icon"></i>
            Favoritar
          </a>
          <a (click)="removeFromCart(prod.id)" class="cart-actions__remove">
            <i aria-hidden="true" class="fa fa-trash-alt action-icon"></i>
            Remover
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Rodapé c/ preços e endereço de entrega -->
  <div class="cart-footer">
    <div class="cart-cost">
      <!-- Custo dos produtos -->
      <div class="cart-cost__price">
        <span class="cart-cost__price-title">Produtos:</span>
        <span class="cart-cost__price-value">{{totalCostProducts | currency: 'BRL'}}</span>
      </div>

      <!-- Custo e endereço de entrega -->
      <ng-container *ngIf="userAddresses.length">
        <!-- Custo -->
        <div class="cart-cost__price">
          <span class="cart-cost__price-title">Entrega:</span>
          <span class="cart-cost__price-value">{{totalCostShipping | currency: 'BRL'}}</span>
        </div>

        <!-- Endereço -->
        <div class="cart-cost__price">
          <span class="cart-cost__price-title">Entrega em:</span>
          <a (click)="showModalAdress()" class="cart-cost__price-value">{{currentAddress.zipCode}},
            {{currentAddress.number}}, {{currentAddress.neighborhood}}
            <i aria-hidden="true" class="fa fa-cog" style="margin-left: 5px"></i>
          </a>
        </div>
      </ng-container>

      <!-- Custo total -->
      <div class="cart-cost__price">
        <span class="cart-cost__price-title">Total:</span>
        <span class="cart-cost__price-value">{{totalCostShipping + totalCostProducts | currency: 'BRL'}}</span>
      </div>
    </div>
    <a (click)="saveOrder()" [routerLink]="['/' + routes.checkout]"
       [disabled]="prodAmount.size < 1" class="btn-general" color="primary" mat-raised-button>
      Finalizar compra
    </a>
  </div>
</div>
