@import '../../../../shared/styles/mixins';
@import '../../../../shared/styles/placeholders';
@import '../../../../shared/styles/variables';
@import '../../../../../node_modules/swiper/swiper';

.swiper {

  &-wrapper {
    max-height: inherit;
    @extend %center-vert-flex;
  }

  &-container {
    @extend %center-vert-flex;
    width: 100%;
    height: 100%;
    max-height: inherit;
    position: inherit;
  }

  &__arrows {
    @extend %center-flex;
    z-index: 1;
    width: 100%;
    max-width: var(--max-width);
    // top: 50%;
    position: absolute;
  }

  &__arrow {
    background-color: rgba(white, .25);
    position: absolute;

    &--next {
      right: 15px;
    }

    &--prev {
      left: 15px;
    }

    .arrow__icon {
      @extend %center-flex;
      color: white;
      font-size: xx-large;
      filter: drop-shadow(1px 1px 2px rgba(black, 0.45))
    }
  }

  &__bullets {
    @extend %center-flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    flex-wrap: wrap;
  }

  &__bullet {
    @include circle(12px, rgba(lightgrey, .5));
    padding: 0;
    margin: 0 .6em 10px;
    cursor: pointer;
    transition: all .125s ease-in-out;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border: 2px solid transparent;
    outline: none;

    &--active {
      background-color: white;
    }
  }
}
