$larg-slide: 712px;
$alt-slide: 325px;

.carrossel {
  display: flex;
  justify-content: center;
  height: $alt-slide !important;
}

.slide-area {
  display: flex;
  justify-content: center;
  background-color: #404040;
  min-height: auto !important;
  max-height: $alt-slide !important;
}

.slide-imagem {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: $alt-slide;
    filter: drop-shadow(1px 2px 12px black);
    cursor: pointer;
  }
}

.background-desfocado {
  position: absolute;
  background-size: cover;
  background-position: center;

  height: $alt-slide;
  max-height: $alt-slide;
  width: 100%;

  display: flex;
  justify-content: center;

  z-index: -1;
  filter: blur(7px);
  opacity: 0.7;
}

.slide-item {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: $alt-slide;
  width: 100%;
  z-index: 1;
}

.lista-indicadores {
  width: fit-content;
  height: fit-content;
  filter: drop-shadow(1px 1px 3px black);
  display: flex;
  justify-content: center;
}

.indicador {
  display: inline-block;
  cursor: pointer;
  height: 7px;
  width: 20px;

  margin: 15px 5px;
  border: 1px solid #e7e7e7;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color .3s;
}

.indicador--ativo {
  display: inline-block;
  cursor: pointer;
  height: 7px;
  width: 20px;

  margin: 15px 5px;
  background-color: white;
  transition: background-color .3s;
}


.slide-item-rodape {
  align-self: flex-end;
  height: 250px;
  max-width: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;

  h6 {
    font-size: large;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1.75rem 0 1rem 0 !important;
  }

  p {
    font-size: medium;
  }
}

.slide-item-rodape-fundo {
  opacity: 0.7;
  height: 250px;
  max-width: 100%;
  width: 100%;
  position: absolute;
  align-self: flex-end;
  background-color: black;
}
