<!-- TODO: Tornar o conteúdo dinâmico -->
<div class="area-componente">
  <app-slider *ngFor="let s of sliders" [slider]="s" style="width: 100%;"></app-slider>
</div>

<!--<div class="area-componente">-->
<!--  <app-lista-cartao *ngFor="let listaCartao of cartoes"-->
<!--                    [listaCartoes]="listaCartao" style="width: 100%">-->
<!--  </app-lista-cartao>-->
<!--</div>-->

<div class="area-componente">
  <app-seq-produto *ngFor="let prod of seqProdutos" [list]="prod"
                   style="width: 100%">
  </app-seq-produto>
</div>

<!--<div class="area-componente">-->
<!--  <app-seq-lojas *ngFor="let loja of seqLojas" [sequencia]="loja"-->
<!--                 style="width: 100%">-->
<!--  </app-seq-lojas>-->
<!--</div>-->

