<!-- TODO: Tornar o conteúdo dinâmico -->
<div class="area-componente">
  <app-slider *ngFor="let s of sliders" [slider]="s" style="width: 100%;"></app-slider>
</div>

<!--<div class="area-componente">-->
<!--  <app-lista-cartao *ngFor="let listaCartao of cartoes"-->
<!--                    [listaCartoes]="listaCartao" style="width: 100%">-->
<!--  </app-lista-cartao>-->
<!--</div>-->

<app-slider-product *ngFor="let prod of listsProd" [list]="prod" style="width: 100%">
</app-slider-product>

<app-slider-market *ngFor="let loja of listsMarket" [list]="loja" style="width: 100%">
</app-slider-market>

