<h1 id="modal-header" mat-dialog-title>{{product.titulo}}</h1>

<div class="modal__content" id="modal-content" mat-dialog-content>
  <img [src]="product.urlImagem" alt="" class="product__image">
  <div class="row">
    <!-- TODO: Verificar o que fazer com as propriedades read-only -->
    <!-- Categorias -->
    <mat-form-field class="col s12">
      <mat-label>Categorias</mat-label>
      <mat-select [formControl]="categoryControl" multiple>
        <mat-option *ngFor="let cat of productCategs" [value]="cat.id">{{cat.nome}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Título -->
    <mat-form-field class="col s12">
      <mat-label>Título</mat-label>
      <input #fieldTitle [(ngModel)]="product.titulo"
             class="browser-default" matInput maxlength="100" type="text">
      <mat-hint align="start">Título curto, porém descritivo</mat-hint>
      <mat-hint align="end">{{fieldTitle.value.length}} / 100</mat-hint>
    </mat-form-field>

    <!-- Descrição -->
    <mat-form-field class="col s12">
      <mat-label>Descrição</mat-label>
      <textarea #autosize="cdkTextareaAutosize" #fieldDescription [(ngModel)]="product.descricao"
                cdkAutosizeMaxRows="10" cdkAutosizeMinRows="1"
                cdkTextareaAutosize matInput maxlength="2000"></textarea>
      <mat-hint align="end">{{fieldDescription.value.length}} / 2000</mat-hint>
    </mat-form-field>

    <!-- Custo -->
    <mat-form-field class="col s6">
      <mat-label>Custo</mat-label>
      <input class="browser-default" matInput style="text-align: right" type="number">
      <span matPrefix>R$&nbsp;</span>
    </mat-form-field>

    <!-- Preço de venda -->
    <mat-form-field class="col s6">
      <mat-label>Preço de venda</mat-label>
      <input [(ngModel)]="product.qtdDisponivel" class="browser-default" matInput style="text-align: right"
             type="number">
      <span matPrefix>R$&nbsp;</span>
    </mat-form-field>


    <!-- Altura -->
    <mat-form-field class="col s6">
      <mat-label>Altura (cm)</mat-label>
      <input class="browser-default" matInput style="text-align: right" type="number">
      <mat-hint align="start">Altura em centímetros</mat-hint>
    </mat-form-field>

    <!-- Largura -->
    <mat-form-field class="col s6">
      <mat-label>Largura (cm)</mat-label>
      <input class="browser-default" matInput style="text-align: right" type="number">
      <mat-hint align="start">Largura em centímetros</mat-hint>
    </mat-form-field>

    <!-- Comprimento -->
    <mat-form-field class="col s6">
      <mat-label>Comprimento (cm)</mat-label>
      <input class="browser-default" matInput style="text-align: right" type="number">
      <mat-hint align="start">Comprimento em centímetros</mat-hint>
    </mat-form-field>

    <!-- Peso -->
    <mat-form-field class="col s6">
      <mat-label>Peso (kg)</mat-label>
      <input class="browser-default" matInput style="text-align: right" type="number">
      <mat-hint align="start">Peso em kilogramas</mat-hint>
    </mat-form-field>
  </div>
</div>

<div class="modal__footer" id="modal-footer" mat-dialog-actions>
  <button (click)="onNoClick()" class="actions__button" mat-button>Descartar</button>
  <button class="actions__button" mat-button>Salvar</button>
</div>
