<div style="justify-content: center; display: flex;">
  <div class="area-login">
    <div class="area-form col s12 m8 pull-m2 l6 pull-l3 xl4 pull-xl4">

      <div class="row">

        <!-- Área de abas -->
        <div class="col s12">
          <ul id="tabs" class="tabs">

            <!-- Aba de login -->
            <li class="tab col s6 active" style="border-right: 1px solid lightgray;">
              <a href="/login/#entrar">
                <i class="fas fa-sign-in-alt"></i>
                <span>Login</span>
              </a>
            </li>

            <!-- Aba de Cadastro -->
            <li class="tab col s6">
              <a href="/login/#cadastrar">
                <i class="fas fa-user-plus"></i>
                <span>Registrar-se</span>
              </a>
            </li>
          </ul>
        </div>

      </div>

      <!-- Área de conteúdo -->
      <div class="area-conteudo">
        <div id="entrar" class="col s12">

          <div class="input-field">
            <input class="validate" value="cleiton@gmail.com" id="form-login" type="text">
            <label class="active" for="form-login">Email ou Nome de usuário</label>
          </div>
          <div class="input-field">
            <input value="dsadsadas" id="form-login-senha" type="password" class="validate">
            <label class="active" for="form-login-senha">Senha</label>
          </div>

          <div  style="text-align: right;">
            <a href="https://www.google.com">Esqueceu sua senha?</a>
          </div>

          <div style="text-align: center">
            <a class="waves-effect waves-light btn grey btn-prim"
               style="margin: 10px 0;">
              Entrar
            </a>
          </div>

          <div class="divider"></div>

          <div class="area-logar_redes_sociais">
            <h6>Ou entre usando:</h6>
            <div class="area-icones_redes_sociais">
              <div>
                <a class="btn-floating waves-effect waves-light btn-circ-twitter">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div>
                <a class="btn-floating waves-effect waves-light btn-circ-facebook">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </div>
              <div>
                <a class="btn-floating waves-effect waves-light btn-circ-google">
                  <i class="fab fa-google"></i>
                </a>
              </div>
            </div>
          </div>

        </div>

        <div id="cadastrar" class="col s12">
          <div class="input-field col s12">
            <input value="Alvin" id="form-nome" type="text" class="validate">
            <label class="active" for="form-nome">Nome</label>
          </div>

          <div class="input-field col s12">
            <input value="cleiton@gmail.com" id="form-email" type="text" class="validate">
            <label class="active" for="form-email">Email</label>
          </div>

          <div class="input-field col s12">
            <input value="(27) 99885-5521" id="form-telefone" type="text" class="validate">
            <label class="active" for="form-telefone">Telefone</label>
          </div>

          <div class="input-field col s12">
            <input value="Alvin" id="form-senha" type="password" class="validate">
            <label class="active" for="form-senha">Senha</label>
          </div>

          <div class="input-field col s12">
            <input value="Alvin" id="form-confirmar-senha" type="password" class="validate">
            <label class="active" for="form-confirmar-senha">Confirmação de senha</label>
          </div>

          <div style="text-align: center">
            <a class="waves-effect waves-light btn grey btn-prim">
              <i class="fas fa-paper-plane"></i>
              Confirmar
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
