$val-b-radius: 18px;

.area-login {
  display: flex;
  justify-content: center;
}

.area-form {
  width: 100%;
  height: 400px;
  padding: 0;

  border-radius: $val-b-radius;
  background-color: #f1f1f1;
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

.area-interna-form {
  padding: 15px 20px;
}

.area-abas {
  border-radius: $val-b-radius $val-b-radius 0 0;
}


p:not(:last-child) {
  margin: 0 0 20px;
}

section {
  display: none;
  margin: 10px;
}

input {
  display: none;
}

label {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #cecece;
  padding: 5px 0 !important;
  margin-bottom: 10px;
}

label:hover {
  color: #789;
  cursor: pointer;
}

input:checked + label {
  color: #0af;
  border-bottom: 2px solid #0af;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}
