<div class="area-login">
  <div class="area-form col s10 pull-s1 m8 pull-m2 l6 pull-l3 xl4 pull-xl4">

    <div class="area-abas">
      <input id="tab1" type="radio" name="tabs" checked>
      <label for="tab1" class="col s6 m6 l6 xl6">Codepen</label>

      <input id="tab2" type="radio" name="tabs">
      <label for="tab2" class="col s6 m6 l6 xl6">Dribbble</label>

      <section id="content1">
        <p>
          Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket
          beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin
          tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder.
          Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.
        </p>
      </section>

      <section id="content2">
        <p>
          Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin.
        </p>
      </section>
    </div>
  </div>
</div>
