<h5 class="titulo-componente">{{listaCartoes.titulo}}</h5>

<div>
  <div *ngFor="let cartao of listaCartoes.itens" [ngClass]="
     {'m12 l12 xl12': listaCartoes.tamanho == 1,
     'm6 l6 xl6': listaCartoes.tamanho == 2,
     'm4 l4 xl4': listaCartoes.tamanho == 3}"
       class="col s12">

    <!-- Área - Cartão individual -->
    <div class="cartao">
      <div [ngClass]="{'background-desfocado-col_100': listaCartoes.tamanho == 1,
         'background-desfocado-col_50': listaCartoes.tamanho == 2,
         'background-desfocado-col_33': listaCartoes.tamanho == 3}"
           [style.backgroundImage]="'url('+ cartao.urlImagem +')'"
           class="black-text background-desfocado">
      </div>

      <div class="black-text slide-imagem">
        <img [alt]="cartao.descricao" src="{{cartao.urlImagem}}">
      </div>
    </div>
  </div>
</div>
