<div class="area-conteudo">
  <h5 class="titulo-pagina">SOBRE</h5>
  <img alt="Imagem do monstro Kuriboh, em sua versão alada" class="responsive-img"
       src="http://abre.ai/kurib">

  <div style="text-align: justify">
    <p>
      Somos uma família disposta a entender os principais anseios de toda uma
      geração que acompanhou esse card-game nostálgico.
    </p>

    <p>
      <b>Temos como missão: </b>Prestar um ótimo atendimento, com oferecimento de
      diversos produtos, todos de qualidades e com preços competitivos.
    </p>

    <p>
      <b>Nossa visão</b> é tornarmos a loja referência na venda de artigos sobre
      Yu-Gi-Oh, por todo Brasil.
    </p>
  </div>
</div>
