<!-- Título da sequência de itens -->
<h5 class="titulo-componente">{{_sequencia.titulo}}</h5>

<!-- Área da sequência propriamente dita -->
<div id="glide-{{_sequencia.id}}" class="area-itens glide">

  <div class="area-passadores">

    <div [hidden]="ocultarBtnSlideAnt">
      <a id="btn-ant" class="btn-floating btn-large waves-effect waves-light passador-anterior"
         (click)="recuarSlide()">
        <i class="fas fa-chevron-left"></i>
      </a>
    </div>

    <div [hidden]="ocultarBtnSlideProx">
      <a id="btn-prox" class="btn-floating btn-large waves-effect waves-light passador-proximo"
         (click)="avancarSlide()">
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>

  </div>

  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides lista-slides">

      <!-- Lista de itens vindo do componente pai -->
      <ng-content></ng-content>
    </ul>
  </div>
</div>
