@import 'shared/styles/mixins';
@import 'shared/styles/placeholders';
@import 'shared/styles/scrollbar';
@import 'shared/styles/variables';

@include scrollbar-custom();

body {
  background: white;
}

body, html {
  margin: 0;
  height: 100%;
  display: block;
}

a {
  @extend %text--link;
}

.btn-general {
  text-transform: uppercase;

  span {
    @extend %center-flex;
  }

  i {
    font-size: 20px;
  }

  img {
    @include min-max-size(18px);
  }

  i, img {
    margin-right: 8px;
  }

  &--full {
    width: 100%;
  }

  @media (max-width: $width-max-small) {
    margin-top: 15px;
    width: 100%;
  }
}

.section-title {
  @extend %color-text-prim;
  font-size: x-large;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.mat-form-field {
  margin-bottom: 15px;

  input {
    @extend %color-text-prim;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.message-section {
  @extend %center-flex;
  $color: $color-prim--light;
  color: $color;
  font-size: small;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 15px 0;
  background: rgba($color, .1);

  i {
    @extend %center-flex;
    color: $color;
    height: 28px;
    min-width: 28px;
    margin-right: 10px;
    background: white;
    border-radius: 50%;
    font-size: 16px;
  }

  &--green {
    $color: #00a650;
    background: rgba($color, .1);

    i {
      color: $color;
    }
  }

  &--blue {
    $color: dodgerblue;
    background: rgba($color, .1);

    i {
      color: white;
      background-color: $color;
    }
  }

  &--yellow {
    $color: orange;
    background: rgba($color, .1);

    i {
      color: $color;
    }
  }

  &--red {
    $color: red;
    background: rgba($color, .1);

    i {
      color: $color;
    }
  }

  &__text-block {
    @extend %flex-col;
    text-align: justify;
  }

  &__title {
    font-weight: 500;
  }
}
