@import 'shared/styles/placeholders';
@import 'shared/styles/scrollbar';
@import 'shared/styles/variables';

body {
  background: white;
}

body, html {
  margin: 0;
  height: 100%;
  display: block;
}

a {
  @extend %text--link;
}

.btn-general {
  // color: white;
  // background-color: $color-prim--light;
  text-transform: uppercase;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  i {
    margin-right: 8px;
    font-size: 20px;
  }

  &--full {
    width: 100%;
  }

  @media (max-width: $width-max-small) {
    margin-top: 15px;
    width: 100%;
  }
}

.titulo-pagina {
  color: dimgray;
  text-align: center;
  margin: 1em 0;
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)
}

.mat-form-field {
  margin-bottom: 15px;

  input {
    @extend %color-text-prim;
  }
}

@include scrollbar-custom();

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.message-section {
  @extend %center-flex;
  @extend %color-text-prim--light;
  $color-background: #666;
  font-size: small;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 15px 0;
  background: rgba($color-background, .1);

  &--green {
    background: rgba(green, .1);
    color: green;
  }

  &--blue {
    background: rgba(dodgerblue, .1);
    color: dodgerblue;
  }

  &--yellow {
    background: rgba(orange, .1);
  }

  &--red {
    background: rgba(darkred, .1);
    color: darkred;
  }

  &__title {
    font-weight: 500;
  }
}
