<div>

  <!-- TODO: Focar em 'Loja', 'Parceiros', 'R. Sociais', 'Minha conta', 'Área Admin' -->
  <!-- imagem da Dark Magician Girl-->
  <div class="img-area">
    <img class="responsive-img img-central"
         alt="Dark Magician Girl" src="../../../assets/dark-magician-girl.png">
  </div>

  <div class="area-rodape" id="rodape">

    <!-- Área das MÍDIAS SOCIAIS -->
    <div class="col-midias_sociais">
      <span>Nos acompanhe nas mídias sociais:</span>
      <br>
      <!-- TODO: Obter links das redes sociais definidas pelo usuário -->
      <div>
        <i class="fab fa-facebook-square icone-facebook" aria-hidden="true"></i>
        <i class="fab fa-twitter-square icone-twitter" aria-hidden="true"></i>
        <i class="fab fa-instagram icone-insta" aria-hidden="true"></i>
        <i class="fab fa-github-square icone-github" aria-hidden="true"></i>
      </div>
    </div>

    <!-- Área contendo as colunas e seus links -->
    <div class="row" id="lista-cols">

      <!-- Para cada coluna contendo um cojunto de links -->
      <div *ngFor="let listaLink of _links"
           class="col s12 m4 l3 xl2 col-links-important">

        <h6 class="titulo-col_links">{{listaLink.titulo}}:</h6>
        <div class="lista-links">
          <a *ngFor="let link of listaLink.links" href="{{link.url}}">
            {{link.texto}}<br>
          </a>
        </div>
      </div>
      <br>
    </div>

    <!-- Área dos DIREITOS AUTORAIS -->
    <div class="col-direitos_autorais">
      <span>Todos direitos reservados. {{anoCorrente}} Yugi-Market ©</span>
    </div>
    <br>

  </div>
</div>
