@import '../../../shared/styles/general';
@import '../../../shared/styles/grid_materialize';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/placeholders';
@import '../../../shared/styles/variables';

$padding-box: 20px;
$width-max-small: 768px;

.title-page-w-border {
  @extend %center-vert-flex;
  align-self: flex-start;
  width: fit-content;
  margin: 0 0 20px;
  font-size: 1.2rem;
  text-transform: inherit;

  i {
    margin-right: 10px;
    font-size: 1.3rem;
  }

  &::after {
    content: none;
    background-color: #bbb;
  }
}

.checkout-container {
  display: grid;
  grid-template-columns: 3.5fr 1.5fr;

  .order-resume {
    @extend %flex-col;
    padding: $padding-box;
    background-color: white;
    border-width: 0 1px;
    border-style: solid;
    border-color: #ccc;

    .address-section {
      display: grid;

      .address-data {
        display: grid;

        .address-fields {
          @extend %color-text-sec--dark;
          display: grid;
          line-height: 1.75;

          &__item {
            &-title {
              @extend %color-text-prim--light;
              padding-right: 5px;
              font-weight: 500;
            }
          }
        }
      }
    }

    .products-resume {
      @extend %flex-col;

      .costs {
        @extend %color-text-prim--light;
        display: grid;
        margin-top: 20px;
        line-height: 2;

        .costs__item {
          @extend %grid-center-vert;
          grid-template-columns: 3fr 2fr;

          &-title {
            font-weight: 500;
            font-size: .9rem;
          }

          &-value {
            font-size: 1rem;
          }
        }
      }

      &__title {
        @extend %color-text-prim--light;
        text-align: center;
      }

      &-imgs {
        display: flex;
        align-self: center;
        margin-bottom: 20px;

        &__img-block {
          @include circle(85px, white);
          @extend %center-flex;
          box-shadow: 1px 2px 6px rgba(black, .08);
          border: 1px solid #eee;
          margin: 0 5px;

          &:not(:first-child) {
            margin-left: -20px;
          }

          .img-block__img {
            height: 90%;
          }
        }
      }
    }

    @media (max-width: $width-max-small) {
      transition: border .5s;
      grid-row: 1;
      border-width: 1px;
      border-radius: 5px;
      margin-top: 20px;
    }
  }

  .payment-section {
    padding: $padding-box $padding-box $padding-box 0;
    display: grid;

    .payment-methods {
      display: grid;
      grid-row-gap: 15px;

      &__item {
        @extend %color-text-sec--dark;
        @extend %base_model_block;
        background-color: white;
        display: grid;
        justify-items: center;

        &--active {
          border-color: $link-color;
          box-shadow: 2px 3px 7px rgba($link-color, .1);
        }

        .card-flags {
          @extend %flex-wrap;
          margin: 5px 0 15px;

          &__item {
            max-width: 28px;
            padding: 0 5px;
            margin: 5px 5px 0;
            border-radius: 5px;
            border: 1px solid #ddd;
          }
        }

        .payment-method__img {
          height: 32px;
          margin: 10px 0 15px;
        }
      }
    }

    @media (max-width: $width-max-small) {
      padding-right: 0;
    }
  }

  @media (max-width: $width-max-small) {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
}

.message-section {
  margin-top: 0;

  i {
    @extend %center-flex;
    @include circle(24px, darkorange);
    color: white;
    font-size: 16px;
    margin-right: 10px;
  }
}

.text--justify {
  justify-self: baseline;
}

.text--bold {
  font-weight: 500;
  color: black;
}
