<div class="checkout-container">

  <!-- Meios de pagamento -->
  <div class="payment-section">
    <h2 class="title-page-w-border">
      <i aria-hidden="true" class="far fa-credit-card" style="margin-right: 10px"></i>
      Meios de pagamento
    </h2>
    <div class="payment-methods">
      <a (click)="selectPayMethod(payMethod)" *ngFor="let payMethod of paymentMethods"
         [ngClass]="{'payment-methods__item--active': payMethod === methodChosen}"
         class="payment-methods__item">
        <img [alt]="payMethod.title" [src]="payMethod.urlImageMethod" class="payment-method__img">
        <span class="text--justify">
          Este meio permite o pagamento (único ou parcelado) com cartão das seguintes bandeiras:
        </span>
        <div class="card-flags">
          <img *ngFor="let opt of payMethod.cardOptions" [alt]="opt.title"
               [src]="opt.urlImage" [title]="opt.title" class="card-flags__item">
        </div>
        <span class="text--justify">Outros meios permitidos:</span>
        <div class="card-flags">
          <img *ngFor="let opt of payMethod.anothersOptions" [alt]="opt.title"
               [src]="opt.urlImage" [title]="opt.title" class="card-flags__item">
        </div>
      </a>
    </div>
  </div>

  <!-- Endereço, produtos e custos -->
  <div class="order-resume">

    <!-- Seção endereço -->
    <div class="address-section">
      <h2 class="title-page-w-border">
        <i aria-hidden="true" class="fas fa-map-marker-alt" style="margin-right: 10px"></i>
        Endereço
      </h2>

      <!-- Aviso sobre revisão de endereço -->
      <div *ngIf="addressDelivery" class="message-section message-section--yellow">
        <i aria-hidden="true" class="fas fa-exclamation"></i>
        <div>
          <span class="message-section__title">Confira seu endereço!</span><br>
          <span>
            Para evitar transtornos com a entrega dos produtos, recomendamos a revisão dos
            dados do endereço de entrega antes de cada compra.
          </span>
        </div>
      </div>

      <!-- Campos com dados de endereço E botão de alterar -->
      <div *ngIf="addressDelivery; else addressEmpty" class="address-data" style="display: grid">
        <div class="address-fields">
          <span class="address-fields__item"><span
            class="address-fields__item-title">Número:</span> {{addressDelivery.number}}</span>
          <span class="address-fields__item"><span
            class="address-fields__item-title">CEP:</span> {{addressDelivery.zipCode}}</span>
          <span class="address-fields__item"><span
            class="address-fields__item-title">Logradouro:</span> {{addressDelivery.street}}</span>
          <span class="address-fields__item"><span
            class="address-fields__item-title">Bairro:</span> {{addressDelivery.neighborhood}}</span>
          <span class="address-fields__item"><span
            class="address-fields__item-title">Cidade:</span> {{addressDelivery.city}}</span>
          <span class="address-fields__item"><span
            class="address-fields__item-title">Estado:</span> {{addressDelivery.state}}</span>
        </div>
        <button class="btn-general" color="primary" mat-button>
          Alterar endereço
        </button>
      </div>

      <!-- Alerta para criar endereço E botão p/ criar -->
      <ng-template #addressEmpty>
        <div class="message-section message-section--yellow">
          <i aria-hidden="true" class="fas fa-exclamation"></i>
          <div>
            <span class="message-section__title">Registre um endereço!</span><br>
            <span>
              Essa conta ainda não possui um endereço cadastrado. Por favor,
              registre um ou mais endereços para receber sua compra.
            </span>
          </div>
        </div>
        <button class="btn-general" color="primary" mat-button>
          Cadastrar endereço
        </button>
      </ng-template>
    </div>

    <mat-divider style="margin: 20px 0"></mat-divider>

    <!-- Seção de produtos -->
    <div class="products-resume">
      <h2 class="title-page-w-border">
        <i aria-hidden="true" class="fas fa-shopping-basket"></i>
        Resumo do pedido
      </h2>
      <div class="products-resume-imgs">
        <div *ngFor="let productPrev of productsPreview"
             [title]="productPrev.title" class="products-resume-imgs__img-block">
          <img [alt]="productPrev.title" [src]="productPrev.urlImage"
               [title]="productPrev.title" class="img-block__img">
        </div>
      </div>
      <a [routerLink]="'/' + routes.cart" class="products-resume__title">
        {{productsPreviewTitle}}
        <span *ngIf="productQuantityHidden > 0" class="text--bold">
          e mais {{productQuantityHidden}} item(s)
        </span>
      </a>
      <div class="costs">
        <div class="costs__item">
          <span class="costs__item-title">Produtos:</span>
          <span class="costs__item-value">{{productsCost | currency: 'BRL'}}</span>
        </div>
        <div class="costs__item">
          <span class="costs__item-title">Entrega:</span>
          <span *ngIf="deliveryCost > 0; else addressUnknown" class="costs__item-value">
            {{deliveryCost | currency: 'BRL'}}
          </span>
          <ng-template #addressUnknown>
            <span class="costs__item-value">???</span>
          </ng-template>
        </div>
        <mat-divider style="margin: 10px 0"></mat-divider>
        <div class="costs__item">
          <span class="costs__item-title">Total:</span>
          <span class="costs__item-value">{{deliveryCost + productsCost | currency: 'BRL'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
