<div class="area-centralizada">
  <div class="area-utilizavel row">
    <!-- TODO: Tornar o conteúdo dinâmico -->
    <div *ngFor="let comp of componentes" class="area-componente">
      <app-slider *ngIf="comp.tipo == tipoComponente.SLIDER"
                  [slider]="comp" style="width: 100%;"></app-slider>
      <app-lista-cartao *ngIf="comp.tipo == tipoComponente.LISTA_CARTAO"
                  [listaCartoes]="comp" style="width: 100%">
      </app-lista-cartao>
      <app-seq-produto [sequencia]="comp" style="width: 100%"
                       *ngIf="comp.tipo == tipoComponente.SEQUENCIA_PRODUTO">
      </app-seq-produto>
      <app-seq-lojas [sequencia]="comp" style="width: 100%"
                       *ngIf="comp.tipo == tipoComponente.SEQUENCIA_LOJA">
      </app-seq-lojas>
    </div>
  </div>
</div>
