@import '../../../../shared/styles/mixins';
@import '../../../../shared/styles/placeholders';

$_slide-height: 200px;

.swiper-slide {
  @extend %center-flex;
  min-width: 100%;
  width: 100%;
  height: $_slide-height;
  max-height: $_slide-height;

  img {
    max-width: 100%;
    max-height: calc(#{$_slide-height} - 20px);
    box-shadow: 1px 2px 6px rgba(black, .5);
  }
}

.bg-blur {
  @extend %center-flex;
  @include min-size(100%);
  position: absolute;
  background-size: cover;
  background-position: center;
  max-height: $_slide-height;
  max-width: calc(100% / var(--slides-lenght));

  z-index: -1;
  filter: blur(8px);
  opacity: .7;
}
