<ng-container *ngIf="slider">
  <app-slider-base [options]="sliderOptions">
    <a *ngFor="let slide of slider.items" [href]="'//' + slide.url" [title]="slide.title || 'Sem título'"
       class="swiper-slide" id="slide-{{slider.id}}" target="_blank">
      <div [style.backgroundImage]="'url('+ slide.imageUrl +')'" class="bg-blur"></div>
      <img *ngIf="slide.imageUrl; else noImage" [alt]="slide.title" [src]="slide.imageUrl">
      <ng-template #noImage>
        <app-blank-image style="display: contents"></app-blank-image>
      </ng-template>
    </a>
  </app-slider-base>
</ng-container>
