<ng-container *ngIf="slider">
  <app-slider-base [maxHeight]="'325px'" [optionsGlide]="glideOptions" [sliderLength]="slider.items.length">
    <li *ngFor="let slide of slider.items" [title]="slide.title || 'Sem título'"
        id="slide-{{slider.id}}" style="display: block;">
      <a class="glide__slide" [href]="slide.url">
        <div [style.backgroundImage]="'url('+ slide.imageUrl +')'" class="bg-blur"></div>
        <img [alt]="slide.title" [src]="slide.imageUrl">
      </a>
    </li>
  </app-slider-base>
</ng-container>
