@mixin btn-circle($largura: 35px, $altura: 35px) {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 100%;
  width: $largura;
  height: $altura;
  line-height: $altura;
}

@mixin btn-circle--blue($largura, $altura) {
  @include btn-circle($largura, $altura);
  background-color: dodgerblue;
}

@mixin btn-circle--red($largura, $altura) {
  @include btn-circle($largura, $altura);
  background-color: red;
}

@mixin btn-circle--green($largura, $altura) {
  @include btn-circle($largura, $altura);
  background-color: green;
}

$val-margin-campo-btn: 40px;
$val-cor-link--ativo: #039be5;

.area-passadores {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.passador {
  font-size: 45px;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  filter: drop-shadow(1px 2px 3px darkgrey);
}

.passador-anterior {
  @extend .passador;
  left: 15px;
}

.passador-proximo {
  @extend .passador;
  right: 15px;
}


.titulo-componente {
  margin-top: 40px;
  text-align: center;
  color: dimgrey;
}

.titulo-componente::after {
  content: '';
  width: 30%;
  height: 4px;
  background-color: #d0d0d0;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}

/*Barra de rolagem*/
.barra-rolagem {
  float: left;
  overflow-y: scroll;
  margin-bottom: 5px;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
}

.checkbox {
  cursor: pointer;
  width: 100%;
  max-width: 24px;
  max-height: 24px;
  z-index: 1;
}
