<!--<app-modal (fechado)="fecharModal()" [mostrar]="mostrar">-->
<div class="area-dialogo row" id="area-dialogo">
  <div id="area-topo" style="display: grid;">
    <div class="icone--circ" id="area-icone">
      <i aria-hidden="true" class="fas fa-key"></i>
    </div>

    <div class="area-titulo">
      <h5>Redefinir senha</h5>
    </div>
  </div>

  <div class="col s12 m12 l12 xl12 area-form" id="area-form">
    <div class="input-field">
      <input class="validate" id="form-login-email" type="email">
      <label for="form-login-email">Email</label>
    </div>

    <div>
      <span>OU</span>
    </div>

    <div class="input-field">
      <input class="validate" id="form-login-tel" type="tel">
      <label for="form-login-tel">Número telefone</label>
    </div>
  </div>
</div>
<!--</app-modal>-->
