@import '../../../shared/shared';

.container-numeracao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 50px;
}

/*TODO: Estender comportamento do botão texto (sem fundo)*/
.paginacao-item {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 36px;
  min-width: 36px;

  padding: 0 7px;
  margin-right: 7px;
  margin-top: 10px;

  color: $color-prim--light;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color 400ms;

  &.selecionado {
    color: $text-color-sec;
    background: $color-sec--light;
    font-weight: bold;
  }

  &.disabled {
    color: #ccc;
    pointer-events: none;
  }

  &:not(.selecionado):hover {
    background: rgba($color-sec--light, .4);
  }
}

.btn-next-prev {
  padding: 0 10px;
}
