@import "../../shared/shared";

#barra-busca {

  height: 0;
  opacity: 0;
  transition: height 400ms, opacity 150ms;

  .form-busca {
    height: 0;
    opacity: 0;
    transition: height 400ms, opacity 400ms;
  }
}

.display-flex_just-center_align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-busca {
  @extend .display-flex_just-center_align-center;
  background-color: #f0f0f0;
}

.form-busca {
  @extend .display-flex_just-center_align-center;
  height: 55px;
}

.input-busca {
  @extend .display-flex_just-center_align-center;
  height: 35px !important;
  margin: 0 20px !important;
  padding: 0 20px !important;
}

.input-busca--radius {
  @extend .input-busca;
  max-width: 55%;
  border-radius: 25px !important;
  box-shadow: 0 0 6px rgba(159, 159, 159, 0.5) !important;
}

.input-busca--radius:focus {
  outline: none !important;
  border-color: #9ecaed !important;
  box-shadow: 0 0 8px #9ecaed !important;
}

.btn-circ--blue {
  @include btn-circle--blue(35px, 35px);
}

.btn-circ--red {
  @include btn-circle--red(35px, 35px);
}


.btn-circ--green {
  @include btn-circle--green(35px, 35px);
}


.slideDown {
  height: 56px !important;
  opacity: 1 !important;

  .form-busca {
    height: auto !important;
    opacity: 1 !important;
  }
}

.slideUp {
  opacity: 0 !important;

  .form-busca {
    opacity: 0 !important;
  }
}
