<div id="barra-busca">

  <nav class="nav-busca">

    <div class="form-busca" style="padding: 0 15px">

      <button (click)="textoDigitado=''" class="btn-circ--red btn waves-effect waves-light"
              type="reset">
        <i aria-hidden="true" class="fas fa-times-circle"></i>
      </button>

      <input [(ngModel)]="textoDigitado" class="input-busca--radius white"
             id="search-input" type="search">
      <label for="search-input"></label>

      <button (click)="emitirTexto()"
              class="btn-circ--green btn waves-effect waves-light">
        <i aria-hidden="true" class="fas fa-check-circle"></i>
      </button>
    </div>
  </nav>
</div>
