<app-modal-mat (action)="action.emit(data.showInputCEP ? controlCep.value : addressChosenId)"
               (closed)="closed.emit()"
               [actionDisabled]="controlCep.invalid && !addressChosenId"
               [btnAcceptTitle]="btnActionTitle" [btnCancelTitle]="btnCancelTitle"
               [modalDesc]="desc" [modalTitle]="title">
  <div style="display: grid">
    <div *ngIf="data.showInputCEP" style="display: grid; margin-bottom: 5px">
      <span class="title-input-cep">Informar um CEP</span>
      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input (focusin)="clearRadioAdress('addresses__item--active')"
               (input)="formatCEP($event.target)" [formControl]="controlCep" matInput type="text">
        <mat-hint align="start">{{textHintCEP}}</mat-hint>
        <mat-error *ngIf="controlCep.invalid">{{getMsg(controlCep, '29161688')}}</mat-error>
      </mat-form-field>
    </div>

    <!-- Caso o usuário esteja logado e com algum enedereço registrado -->
    <ng-container *ngIf="data.addresses?.length">
      <span class="title-adress-list">
        Seus endereços
      </span>
      <mat-radio-group [(ngModel)]="addressChosenId" class="addresses">
        <mat-radio-button (click)="selectAddress(addr.id, 'addresses__item--active')"
                          *ngFor="let addr of data.addresses"
                          [value]="addr.id" class="addresses__item">
          <span class="addresses__item-content" id="{{addr.id}}">
            <span style="font-weight: 500">{{addr.number}} - {{addr.street}} - {{addr.neighborhood}}</span>
            CEP: {{addr.zipCode}} - {{addr.city}} - {{addr.state}}
          </span>
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>
  </div>
</app-modal-mat>
